In [1]:
# Attempting to select the ACS variables we will need to carry out the appropriate analysis

In [2]:
import pandas as pd

In [3]:
# Loading cenpy and acs data
import cenpy
acs = cenpy.products.ACS(2019)

/Users/juanmozosnieto/opt/anaconda3/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [4]:
groupedVars = acs.tables

In [5]:
varList = []

In [6]:
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', 30)

In [7]:
# exploring race tables
acs.filter_tables("RACE", by = "description")

,description,columns
table_name,,
B02001,RACE,"[B02001_001E, B02001_002E, B02001_003E, B02001..."
B02008,WHITE ALONE OR IN COMBINATION WITH ONE OR MORE...,[B02008_001E]
B02009,BLACK OR AFRICAN AMERICAN ALONE OR IN COMBINAT...,[B02009_001E]
B02010,AMERICAN INDIAN AND ALASKA NATIVE ALONE OR IN ...,[B02010_001E]
B02011,ASIAN ALONE OR IN COMBINATION WITH ONE OR MORE...,[B02011_001E]
B02012,NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALO...,[B02012_001E]
B02013,SOME OTHER RACE ALONE OR IN COMBINATION WITH O...,[B02013_001E]
B03002,HISPANIC OR LATINO ORIGIN BY RACE,"[B03002_001E, B03002_002E, B03002_003E, B03002..."
B25006,RACE OF HOUSEHOLDER,"[B25006_001E, B25006_002E, B25006_003E, B25006..."
B98013,TOTAL POPULATION COVERAGE RATE BY WEIGHTING RA...,"[B98013_001E, B98013_002E, B98013_003E, B98013..."
B99021,ALLOCATION OF RACE,"[B99021_001E, B99021_002E, B99021_003E]"
C02003,DETAILED RACE,"[C02003_001E, C02003_002E, C02003_003E, C02003..."

In [8]:
# Exploring the race table
acs.filter_variables("B02001")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B02001_009E,Estimate!!Total:!!Two or more races:!!Two race...,RACE,int,B02001,0,NaN,NaN,"B02001_009EA,B02001_009M,B02001_009MA",NaN
B02001_007E,Estimate!!Total:!!Some other race alone,RACE,int,B02001,0,NaN,NaN,"B02001_007EA,B02001_007M,B02001_007MA",NaN
B02001_008E,Estimate!!Total:!!Two or more races:,RACE,int,B02001,0,NaN,NaN,"B02001_008EA,B02001_008M,B02001_008MA",NaN
B02001_010E,Estimate!!Total:!!Two or more races:!!Two race...,RACE,int,B02001,0,NaN,NaN,"B02001_010EA,B02001_010M,B02001_010MA",NaN
B02001_002E,Estimate!!Total:!!White alone,RACE,int,B02001,0,NaN,NaN,"B02001_002EA,B02001_002M,B02001_002MA",NaN
B02001_001E,Estimate!!Total:,RACE,int,B02001,0,NaN,NaN,"B02001_001EA,B02001_001M,B02001_001MA",NaN
B02001_006E,Estimate!!Total:!!Native Hawaiian and Other Pa...,RACE,int,B02001,0,NaN,NaN,"B02001_006EA,B02001_006M,B02001_006MA",NaN
B02001_005E,Estimate!!Total:!!Asian alone,RACE,int,B02001,0,NaN,NaN,"B02001_005EA,B02001_005M,B02001_005MA",NaN
B02001_004E,Estimate!!Total:!!American Indian and Alaska N...,RACE,int,B02001,0,NaN,NaN,"B02001_004EA,B02001_004M,B02001_004MA",NaN
B02001_003E,Estimate!!Total:!!Black or African American alone,RACE,int,B02001,0,NaN,NaN,"B02001_003EA,B02001_003M,B02001_003MA",NaN

In [9]:
varList.append(["B02001_001E", "B02001_002E", "B02001_003E", "B02001_004E", "B02001_005E", "B02001_006E", "B02001_007E", "B02001_008E", "B02001_009E", "B02001_010E"])

In [10]:
# Exploring the hispanic table
acs.filter_variables("B03002")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B03002_021E,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_021EA,B03002_021M,B03002_021MA",NaN
B03002_020E,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_020EA,B03002_020M,B03002_020MA",NaN
B03002_001E,Estimate!!Total:,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_001EA,B03002_001M,B03002_001MA",NaN
B03002_005E,Estimate!!Total:!!Not Hispanic or Latino:!!Ame...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_005EA,B03002_005M,B03002_005MA",NaN
B03002_004E,Estimate!!Total:!!Not Hispanic or Latino:!!Bla...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_004EA,B03002_004M,B03002_004MA",NaN
B03002_003E,Estimate!!Total:!!Not Hispanic or Latino:!!Whi...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_003EA,B03002_003M,B03002_003MA",NaN
B03002_002E,Estimate!!Total:!!Not Hispanic or Latino:,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_002EA,B03002_002M,B03002_002MA",NaN
B03002_009E,Estimate!!Total:!!Not Hispanic or Latino:!!Two...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_009EA,B03002_009M,B03002_009MA",NaN
B03002_007E,Estimate!!Total:!!Not Hispanic or Latino:!!Nat...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_007EA,B03002_007M,B03002_007MA",NaN
B03002_008E,Estimate!!Total:!!Not Hispanic or Latino:!!Som...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_008EA,B03002_008M,B03002_008MA",NaN
B03002_006E,Estimate!!Total:!!Not Hispanic or Latino:!!Asi...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_006EA,B03002_006M,B03002_006MA",NaN
B03002_013E,Estimate!!Total:!!Hispanic or Latino:!!White a...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_013EA,B03002_013M,B03002_013MA",NaN
B03002_012E,Estimate!!Total:!!Hispanic or Latino:,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_012EA,B03002_012M,B03002_012MA",NaN
B03002_011E,Estimate!!Total:!!Not Hispanic or Latino:!!Two...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_011EA,B03002_011M,B03002_011MA",NaN
B03002_010E,Estimate!!Total:!!Not Hispanic or Latino:!!Two...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_010EA,B03002_010M,B03002_010MA",NaN
B03002_017E,Estimate!!Total:!!Hispanic or Latino:!!Native ...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_017EA,B03002_017M,B03002_017MA",NaN
B03002_016E,Estimate!!Total:!!Hispanic or Latino:!!Asian a...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_016EA,B03002_016M,B03002_016MA",NaN
B03002_015E,Estimate!!Total:!!Hispanic or Latino:!!America...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_015EA,B03002_015M,B03002_015MA",NaN
B03002_014E,Estimate!!Total:!!Hispanic or Latino:!!Black o...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_014EA,B03002_014M,B03002_014MA",NaN
B03002_018E,Estimate!!Total:!!Hispanic or Latino:!!Some ot...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_018EA,B03002_018M,B03002_018MA",NaN
B03002_019E,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,HISPANIC OR LATINO ORIGIN BY RACE,int,B03002,0,NaN,NaN,"B03002_019EA,B03002_019M,B03002_019MA",NaN

In [11]:
varList.append(['B03002_001','B03002_002','B03002_012'])

In [12]:
# Exploring race of householder table
acs.filter_variables("B25006")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B25006_007E,Estimate!!Total:!!Householder who is Some othe...,RACE OF HOUSEHOLDER,int,B25006,0,NaN,NaN,"B25006_007EA,B25006_007M,B25006_007MA",NaN
B25006_008E,Estimate!!Total:!!Householder who is Two or mo...,RACE OF HOUSEHOLDER,int,B25006,0,NaN,NaN,"B25006_008EA,B25006_008M,B25006_008MA",NaN
B25006_005E,Estimate!!Total:!!Householder who is Asian alone,RACE OF HOUSEHOLDER,int,B25006,0,NaN,NaN,"B25006_005EA,B25006_005M,B25006_005MA",NaN
B25006_006E,Estimate!!Total:!!Householder who is Native Ha...,RACE OF HOUSEHOLDER,int,B25006,0,NaN,NaN,"B25006_006EA,B25006_006M,B25006_006MA",NaN
B25006_009E,Estimate!!Total:!!Householder who is Two or mo...,RACE OF HOUSEHOLDER,int,B25006,0,NaN,NaN,"B25006_009EA,B25006_009M,B25006_009MA",NaN
B25006_002E,Estimate!!Total:!!Householder who is White alone,RACE OF HOUSEHOLDER,int,B25006,0,NaN,NaN,"B25006_002EA,B25006_002M,B25006_002MA",NaN
B25006_004E,Estimate!!Total:!!Householder who is American ...,RACE OF HOUSEHOLDER,int,B25006,0,NaN,NaN,"B25006_004EA,B25006_004M,B25006_004MA",NaN
B25006_003E,Estimate!!Total:!!Householder who is Black or ...,RACE OF HOUSEHOLDER,int,B25006,0,NaN,NaN,"B25006_003EA,B25006_003M,B25006_003MA",NaN
B25006_001E,Estimate!!Total:,RACE OF HOUSEHOLDER,int,B25006,0,NaN,NaN,"B25006_001EA,B25006_001M,B25006_001MA",NaN
B25006_010E,Estimate!!Total:!!Householder who is Two or mo...,RACE OF HOUSEHOLDER,int,B25006,0,NaN,NaN,"B25006_010EA,B25006_010M,B25006_010MA",NaN

In [13]:
varList.append(['B25006_001E', 'B25006_002E', 'B25006_003E', 'B25006_004E', 'B25006_005E', 'B25006_006E', 'B25006_007E', 'B25006_008E', 'B25006_009E', 'B25006_010E'])

In [14]:
# Exploring the income tables
acs.filter_tables("INCOME", by = "description")#ts

,description,columns
table_name,,
B05010,RATIO OF INCOME TO POVERTY LEVEL IN THE PAST 1...,"[B05010_001E, B05010_002E, B05010_003E, B05010..."
B06010,PLACE OF BIRTH BY INDIVIDUAL INCOME IN THE PAS...,"[B06010_001E, B06010_002E, B06010_003E, B06010..."
B06011,MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2019 I...,"[B06011_001E, B06011_002E, B06011_003E, B06011..."
B07010,GEOGRAPHICAL MOBILITY IN THE PAST YEAR BY INDI...,"[B07010_001E, B07010_002E, B07010_003E, B07010..."
B07011,MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2019 I...,"[B07011_001E, B07011_002E, B07011_003E, B07011..."
...,...,...
C17002,RATIO OF INCOME TO POVERTY LEVEL IN THE PAST 1...,"[C17002_001E, C17002_002E, C17002_003E, C17002..."
C18131,RATIO OF INCOME TO POVERTY LEVEL IN THE PAST 1...,"[C18131_001E, C18131_002E, C18131_003E, C18131..."
C27016,HEALTH INSURANCE COVERAGE STATUS BY RATIO OF I...,"[C27016_001E, C27016_002E, C27016_003E, C27016..."
C27017,PRIVATE HEALTH INSURANCE BY RATIO OF INCOME TO...,"[C27017_001E, C27017_002E, C27017_003E, C27017..."
C27018,PUBLIC HEALTH INSURANCE BY RATIO OF INCOME TO ...,"[C27018_001E, C27018_002E, C27018_003E, C27018..."

In [15]:
incomeTables = ["B19001", "B19013", "C17002", "B25098", "B25099", "B25071", "B25070", "B19313", "B19301", "B19113", "B19101", "B19062"]

In [16]:
# Inspecting income table variables

In [17]:
acs.filter_variables("B19001")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B19001B_014E,"Estimate!!Total:!!$100,000 to $124,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19001B,0,NaN,NaN,"B19001B_014EA,B19001B_014M,B19001B_014MA",NaN
B19001B_013E,"Estimate!!Total:!!$75,000 to $99,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19001B,0,NaN,NaN,"B19001B_013EA,B19001B_013M,B19001B_013MA",NaN
B19001B_012E,"Estimate!!Total:!!$60,000 to $74,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19001B,0,NaN,NaN,"B19001B_012EA,B19001B_012M,B19001B_012MA",NaN
B19001B_011E,"Estimate!!Total:!!$50,000 to $59,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19001B,0,NaN,NaN,"B19001B_011EA,B19001B_011M,B19001B_011MA",NaN
B19001B_010E,"Estimate!!Total:!!$45,000 to $49,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19001B,0,NaN,NaN,"B19001B_010EA,B19001B_010M,B19001B_010MA",NaN
...,...,...,...,...,...,...,...,...,...
B19001E_013E,"Estimate!!Total:!!$75,000 to $99,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19001E,0,NaN,NaN,"B19001E_013EA,B19001E_013M,B19001E_013MA",NaN
B19001E_014E,"Estimate!!Total:!!$100,000 to $124,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19001E,0,NaN,NaN,"B19001E_014EA,B19001E_014M,B19001E_014MA",NaN
B19001E_015E,"Estimate!!Total:!!$125,000 to $149,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19001E,0,NaN,NaN,"B19001E_015EA,B19001E_015M,B19001E_015MA",NaN
B19001E_016E,"Estimate!!Total:!!$150,000 to $199,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19001E,0,NaN,NaN,"B19001E_016EA,B19001E_016M,B19001E_016MA",NaN
B19001E_017E,"Estimate!!Total:!!$200,000 or more",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19001E,0,NaN,NaN,"B19001E_017EA,B19001E_017M,B19001E_017MA",NaN

In [18]:
varList.append(["B19001_001E", "B19001_002E", "B19001_003E", "B19001_004E", "B19001_005E", "B19001_006E", "B19001_007E", "B19001_008E", "B19001_009E", "B19001_010E", "B19001_011E", "B19001_012E", "B19001_013E", "B19001_014E", "B19001_015E", "B19001_016E", "B19001_017E", "B19001A_001E", "B19001A_002E", "B19001A_003E", "B19001A_004E", "B19001A_005E", "B19001A_006E", "B19001A_007E", "B19001A_008E", "B19001A_009E", "B19001A_010E", "B19001A_011E", "B19001A_012E", "B19001A_013E", "B19001A_014E", "B19001A_015E", "B19001A_016E", "B19001A_017E", "B19001B_001E", "B19001B_002E", "B19001B_003E", "B19001B_004E", "B19001B_005E", "B19001B_006E", "B19001B_007E", "B19001B_008E", "B19001B_009E", "B19001B_010E", "B19001B_011E", "B19001B_012E", "B19001B_013E", "B19001B_014E", "B19001B_015E", "B19001B_016E", "B19001B_017E", "B19001D_001E", "B19001D_002E", "B19001D_003E", "B19001D_004E", "B19001D_005E", "B19001D_006E", "B19001D_007E", "B19001D_008E", "B19001D_009E", "B19001D_010E", "B19001D_011E", "B19001D_012E", "B19001D_013E", "B19001D_014E", "B19001D_015E", "B19001D_016E", "B19001D_017E", "B19001H_001E", "B19001H_002E", "B19001H_003E", "B19001H_004E", "B19001H_005E", "B19001H_006E", "B19001H_007E", "B19001H_008E", "B19001H_009E", "B19001H_010E", "B19001H_011E", "B19001H_012E", "B19001H_013E", "B19001H_014E", "B19001H_015E", "B19001H_016E", "B19001H_017E", "B19001I_001E", "B19001I_002E", "B19001I_003E", "B19001I_004E", "B19001I_005E", "B19001I_006E", "B19001I_007E", "B19001I_008E", "B19001I_009E", "B19001I_010E", "B19001I_011E", "B19001I_012E", "B19001I_013E", "B19001I_014E", "B19001I_015E", "B19001I_016E", "B19001I_017E"])

In [19]:
incomeTables

['B19001',
 'B19013',
 'C17002',
 'B25098',
 'B25099',
 'B25071',
 'B25070',
 'B19313',
 'B19301',
 'B19113',
 'B19101',
 'B19062']

In [20]:
acs.filter_variables("B19013")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B19013E_001E,Estimate!!Median household income in the past ...,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS ...,int,B19013E,0,NaN,NaN,"B19013E_001EA,B19013E_001M,B19013E_001MA",NaN
B19013D_001E,Estimate!!Median household income in the past ...,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS ...,int,B19013D,0,NaN,NaN,"B19013D_001EA,B19013D_001M,B19013D_001MA",NaN
B19013I_001E,Estimate!!Median household income in the past ...,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS ...,int,B19013I,0,NaN,NaN,"B19013I_001EA,B19013I_001M,B19013I_001MA",NaN
B19013A_001E,Estimate!!Median household income in the past ...,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS ...,int,B19013A,0,NaN,NaN,"B19013A_001EA,B19013A_001M,B19013A_001MA",NaN
B19013F_001E,Estimate!!Median household income in the past ...,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS ...,int,B19013F,0,NaN,NaN,"B19013F_001EA,B19013F_001M,B19013F_001MA",NaN
B19013G_001E,Estimate!!Median household income in the past ...,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS ...,int,B19013G,0,NaN,NaN,"B19013G_001EA,B19013G_001M,B19013G_001MA",NaN
B19013B_001E,Estimate!!Median household income in the past ...,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS ...,int,B19013B,0,NaN,NaN,"B19013B_001EA,B19013B_001M,B19013B_001MA",NaN
B19013C_001E,Estimate!!Median household income in the past ...,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS ...,int,B19013C,0,NaN,NaN,"B19013C_001EA,B19013C_001M,B19013C_001MA",NaN
B19013_001E,Estimate!!Median household income in the past ...,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS ...,int,B19013,0,NaN,NaN,"B19013_001EA,B19013_001M,B19013_001MA",NaN
B19013H_001E,Estimate!!Median household income in the past ...,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS ...,int,B19013H,0,NaN,NaN,"B19013H_001EA,B19013H_001M,B19013H_001MA",NaN

In [21]:
varList.append(["B19013_001E", "B19013A_001E", "B19013B_001E", "B19013C_001E", "B19013D_001E", "B19013E_001E", "B19013F_001E", "B19013G_001E", "B19013H_001E", "B19013I_001E"])

In [22]:
incomeTables

['B19001',
 'B19013',
 'C17002',
 'B25098',
 'B25099',
 'B25071',
 'B25070',
 'B19313',
 'B19301',
 'B19113',
 'B19101',
 'B19062']

In [23]:
acs.filter_variables("C17002")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
C17002_002E,Estimate!!Total:!!Under .50,RATIO OF INCOME TO POVERTY LEVEL IN THE PAST 1...,int,C17002,0,NaN,NaN,"C17002_002EA,C17002_002M,C17002_002MA",NaN
C17002_001E,Estimate!!Total:,RATIO OF INCOME TO POVERTY LEVEL IN THE PAST 1...,int,C17002,0,NaN,NaN,"C17002_001EA,C17002_001M,C17002_001MA",NaN
C17002_008E,Estimate!!Total:!!2.00 and over,RATIO OF INCOME TO POVERTY LEVEL IN THE PAST 1...,int,C17002,0,NaN,NaN,"C17002_008EA,C17002_008M,C17002_008MA",NaN
C17002_007E,Estimate!!Total:!!1.85 to 1.99,RATIO OF INCOME TO POVERTY LEVEL IN THE PAST 1...,int,C17002,0,NaN,NaN,"C17002_007EA,C17002_007M,C17002_007MA",NaN
C17002_004E,Estimate!!Total:!!1.00 to 1.24,RATIO OF INCOME TO POVERTY LEVEL IN THE PAST 1...,int,C17002,0,NaN,NaN,"C17002_004EA,C17002_004M,C17002_004MA",NaN
C17002_003E,Estimate!!Total:!!.50 to .99,RATIO OF INCOME TO POVERTY LEVEL IN THE PAST 1...,int,C17002,0,NaN,NaN,"C17002_003EA,C17002_003M,C17002_003MA",NaN
C17002_006E,Estimate!!Total:!!1.50 to 1.84,RATIO OF INCOME TO POVERTY LEVEL IN THE PAST 1...,int,C17002,0,NaN,NaN,"C17002_006EA,C17002_006M,C17002_006MA",NaN
C17002_005E,Estimate!!Total:!!1.25 to 1.49,RATIO OF INCOME TO POVERTY LEVEL IN THE PAST 1...,int,C17002,0,NaN,NaN,"C17002_005EA,C17002_005M,C17002_005MA",NaN

In [24]:
varList.append(["C17002_001E", "C17002_002E", "C17002_003E", "C17002_004E", "C17002_005E", "C17002_006E", "C17002_007E", "C17002_008E"])

In [25]:
incomeTables

['B19001',
 'B19013',
 'C17002',
 'B25098',
 'B25099',
 'B25071',
 'B25070',
 'B19313',
 'B19301',
 'B19113',
 'B19101',
 'B19062']

In [26]:
acs.filter_variables("B25098")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B25098_018E,"Estimate!!Total:!!Not mortgaged:!!$100,000 to ...",MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_018EA,B25098_018M,B25098_018MA",NaN
B25098_019E,"Estimate!!Total:!!Not mortgaged:!!$150,000 or ...",MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_019EA,B25098_019M,B25098_019MA",NaN
B25098_016E,"Estimate!!Total:!!Not mortgaged:!!$50,000 to $...",MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_016EA,B25098_016M,B25098_016MA",NaN
B25098_017E,"Estimate!!Total:!!Not mortgaged:!!$75,000 to $...",MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_017EA,B25098_017M,B25098_017MA",NaN
B25098_014E,"Estimate!!Total:!!Not mortgaged:!!$25,000 to $...",MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_014EA,B25098_014M,B25098_014MA",NaN
B25098_015E,"Estimate!!Total:!!Not mortgaged:!!$35,000 to $...",MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_015EA,B25098_015M,B25098_015MA",NaN
B25098_012E,Estimate!!Total:!!Not mortgaged:!!Less than $1...,MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_012EA,B25098_012M,B25098_012MA",NaN
B25098_013E,"Estimate!!Total:!!Not mortgaged:!!$10,000 to $...",MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_013EA,B25098_013M,B25098_013MA",NaN
B25098_008E,"Estimate!!Total:!!With a mortgage:!!$75,000 to...",MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_008EA,B25098_008M,B25098_008MA",NaN
B25098_009E,"Estimate!!Total:!!With a mortgage:!!$100,000 t...",MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_009EA,B25098_009M,B25098_009MA",NaN
B25098_006E,"Estimate!!Total:!!With a mortgage:!!$35,000 to...",MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_006EA,B25098_006M,B25098_006MA",NaN
B25098_007E,"Estimate!!Total:!!With a mortgage:!!$50,000 to...",MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_007EA,B25098_007M,B25098_007MA",NaN
B25098_004E,"Estimate!!Total:!!With a mortgage:!!$10,000 to...",MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_004EA,B25098_004M,B25098_004MA",NaN
B25098_005E,"Estimate!!Total:!!With a mortgage:!!$25,000 to...",MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_005EA,B25098_005M,B25098_005MA",NaN
B25098_002E,Estimate!!Total:!!With a mortgage:,MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_002EA,B25098_002M,B25098_002MA",NaN
B25098_003E,Estimate!!Total:!!With a mortgage:!!Less than ...,MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_003EA,B25098_003M,B25098_003MA",NaN
B25098_001E,Estimate!!Total:,MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_001EA,B25098_001M,B25098_001MA",NaN
B25098_010E,"Estimate!!Total:!!With a mortgage:!!$150,000 o...",MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_010EA,B25098_010M,B25098_010MA",NaN
B25098_011E,Estimate!!Total:!!Not mortgaged:,MORTGAGE STATUS BY HOUSEHOLD INCOME IN THE PAS...,int,B25098,0,NaN,NaN,"B25098_011EA,B25098_011M,B25098_011MA",NaN

In [27]:
varList.append(["B25098_001E", "B25098_002E", "B25098_003E", "B25098_004E", "B25098_005E", "B25098_006E", "B25098_007E", "B25098_008E", "B25098_009E", "B25098_010E", "B25098_011E", "B25098_012E", "B25098_013E", "B25098_014E", "B25098_015E", "B25098_016E", "B25098_017E", "B25098_018E", "B25098_019E"])

In [28]:
incomeTables

['B19001',
 'B19013',
 'C17002',
 'B25098',
 'B25099',
 'B25071',
 'B25070',
 'B19313',
 'B19301',
 'B19113',
 'B19101',
 'B19062']

In [29]:
acs.filter_variables("B25099")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B25099_003E,Estimate!!Median household income --!!Total:!!...,MORTGAGE STATUS BY MEDIAN HOUSEHOLD INCOME IN ...,int,B25099,0,NaN,NaN,"B25099_003EA,B25099_003M,B25099_003MA",NaN
B25099_001E,Estimate!!Median household income --!!Total:,MORTGAGE STATUS BY MEDIAN HOUSEHOLD INCOME IN ...,int,B25099,0,NaN,NaN,"B25099_001EA,B25099_001M,B25099_001MA",NaN
B25099_002E,Estimate!!Median household income --!!Total:!!...,MORTGAGE STATUS BY MEDIAN HOUSEHOLD INCOME IN ...,int,B25099,0,NaN,NaN,"B25099_002EA,B25099_002M,B25099_002MA",NaN

In [30]:
varList.append(["B25099_001E", "B25099_002E", "B25099_003E"])

In [31]:
incomeTables

['B19001',
 'B19013',
 'C17002',
 'B25098',
 'B25099',
 'B25071',
 'B25070',
 'B19313',
 'B19301',
 'B19113',
 'B19101',
 'B19062']

In [32]:
acs.filter_variables("B25071")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B25071_001E,Estimate!!Median gross rent as a percentage of...,MEDIAN GROSS RENT AS A PERCENTAGE OF HOUSEHOLD...,float,B25071,0,NaN,NaN,"B25071_001EA,B25071_001M,B25071_001MA",NaN

In [33]:
varList.append("B25071_001E")

In [34]:
acs.filter_variables("B25070")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B25070_003E,Estimate!!Total:!!10.0 to 14.9 percent,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME...,int,B25070,0,NaN,NaN,"B25070_003EA,B25070_003M,B25070_003MA",NaN
B25070_002E,Estimate!!Total:!!Less than 10.0 percent,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME...,int,B25070,0,NaN,NaN,"B25070_002EA,B25070_002M,B25070_002MA",NaN
B25070_001E,Estimate!!Total:,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME...,int,B25070,0,NaN,NaN,"B25070_001EA,B25070_001M,B25070_001MA",NaN
B25070_007E,Estimate!!Total:!!30.0 to 34.9 percent,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME...,int,B25070,0,NaN,NaN,"B25070_007EA,B25070_007M,B25070_007MA",NaN
B25070_006E,Estimate!!Total:!!25.0 to 29.9 percent,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME...,int,B25070,0,NaN,NaN,"B25070_006EA,B25070_006M,B25070_006MA",NaN
B25070_005E,Estimate!!Total:!!20.0 to 24.9 percent,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME...,int,B25070,0,NaN,NaN,"B25070_005EA,B25070_005M,B25070_005MA",NaN
B25070_004E,Estimate!!Total:!!15.0 to 19.9 percent,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME...,int,B25070,0,NaN,NaN,"B25070_004EA,B25070_004M,B25070_004MA",NaN
B25070_009E,Estimate!!Total:!!40.0 to 49.9 percent,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME...,int,B25070,0,NaN,NaN,"B25070_009EA,B25070_009M,B25070_009MA",NaN
B25070_008E,Estimate!!Total:!!35.0 to 39.9 percent,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME...,int,B25070,0,NaN,NaN,"B25070_008EA,B25070_008M,B25070_008MA",NaN
B25070_011E,Estimate!!Total:!!Not computed,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME...,int,B25070,0,NaN,NaN,"B25070_011EA,B25070_011M,B25070_011MA",NaN
B25070_010E,Estimate!!Total:!!50.0 percent or more,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME...,int,B25070,0,NaN,NaN,"B25070_010EA,B25070_010M,B25070_010MA",NaN

In [35]:
varList.append(["B25070_001E", "B25070_002E", "B25070_003E", "B25070_004E", "B25070_005E", "B25070_006E", "B25070_007E", "B25070_008E", "B25070_009E", "B25070_010E", "B25070_011E"])

In [36]:
incomeTables

['B19001',
 'B19013',
 'C17002',
 'B25098',
 'B25099',
 'B25071',
 'B25070',
 'B19313',
 'B19301',
 'B19113',
 'B19101',
 'B19062']

In [37]:
acs.filter_variables("B19313")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B19313C_001E,Estimate!!Aggregate income in the past 12 mont...,AGGREGATE INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19313C,0,NaN,NaN,"B19313C_001EA,B19313C_001M,B19313C_001MA",NaN
B19313H_001E,Estimate!!Aggregate income in the past 12 mont...,AGGREGATE INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19313H,0,NaN,NaN,"B19313H_001EA,B19313H_001M,B19313H_001MA",NaN
B19313D_001E,Estimate!!Aggregate income in the past 12 mont...,AGGREGATE INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19313D,0,NaN,NaN,"B19313D_001EA,B19313D_001M,B19313D_001MA",NaN
B19313I_001E,Estimate!!Aggregate income in the past 12 mont...,AGGREGATE INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19313I,0,NaN,NaN,"B19313I_001EA,B19313I_001M,B19313I_001MA",NaN
B19313E_001E,Estimate!!Aggregate income in the past 12 mont...,AGGREGATE INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19313E,0,NaN,NaN,"B19313E_001EA,B19313E_001M,B19313E_001MA",NaN
B19313A_001E,Estimate!!Aggregate income in the past 12 mont...,AGGREGATE INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19313A,0,NaN,NaN,"B19313A_001EA,B19313A_001M,B19313A_001MA",NaN
B19313F_001E,Estimate!!Aggregate income in the past 12 mont...,AGGREGATE INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19313F,0,NaN,NaN,"B19313F_001EA,B19313F_001M,B19313F_001MA",NaN
B19313_001E,Estimate!!Aggregate income in the past 12 mont...,AGGREGATE INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19313,0,NaN,NaN,"B19313_001EA,B19313_001M,B19313_001MA",NaN
B19313G_001E,Estimate!!Aggregate income in the past 12 mont...,AGGREGATE INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19313G,0,NaN,NaN,"B19313G_001EA,B19313G_001M,B19313G_001MA",NaN
B19313B_001E,Estimate!!Aggregate income in the past 12 mont...,AGGREGATE INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19313B,0,NaN,NaN,"B19313B_001EA,B19313B_001M,B19313B_001MA",NaN

In [38]:
varList.append(["B19313_001E", "B19313A_001E", "B19313B_001E", "B19313C_001E", "B19313D_001E", "B19313E_001E", "B19313F_001E", "B19313G_001E", "B19313H_001E", "B19313I_001E"])

In [39]:
incomeTables

['B19001',
 'B19013',
 'C17002',
 'B25098',
 'B25099',
 'B25071',
 'B25070',
 'B19313',
 'B19301',
 'B19113',
 'B19101',
 'B19062']

In [40]:
acs.filter_variables("B19301")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B19301E_001E,Estimate!!Per capita income in the past 12 mon...,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 20...,int,B19301E,0,NaN,NaN,"B19301E_001EA,B19301E_001M,B19301E_001MA",NaN
B19301A_001E,Estimate!!Per capita income in the past 12 mon...,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 20...,int,B19301A,0,NaN,NaN,"B19301A_001EA,B19301A_001M,B19301A_001MA",NaN
B19301F_001E,Estimate!!Per capita income in the past 12 mon...,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 20...,int,B19301F,0,NaN,NaN,"B19301F_001EA,B19301F_001M,B19301F_001MA",NaN
B19301B_001E,Estimate!!Per capita income in the past 12 mon...,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 20...,int,B19301B,0,NaN,NaN,"B19301B_001EA,B19301B_001M,B19301B_001MA",NaN
B19301C_001E,Estimate!!Per capita income in the past 12 mon...,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 20...,int,B19301C,0,NaN,NaN,"B19301C_001EA,B19301C_001M,B19301C_001MA",NaN
B19301G_001E,Estimate!!Per capita income in the past 12 mon...,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 20...,int,B19301G,0,NaN,NaN,"B19301G_001EA,B19301G_001M,B19301G_001MA",NaN
B19301_001E,Estimate!!Per capita income in the past 12 mon...,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 20...,int,B19301,0,NaN,NaN,"B19301_001EA,B19301_001M,B19301_001MA",NaN
B19301I_001E,Estimate!!Per capita income in the past 12 mon...,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 20...,int,B19301I,0,NaN,NaN,"B19301I_001EA,B19301I_001M,B19301I_001MA",NaN
B19301H_001E,Estimate!!Per capita income in the past 12 mon...,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 20...,int,B19301H,0,NaN,NaN,"B19301H_001EA,B19301H_001M,B19301H_001MA",NaN
B19301D_001E,Estimate!!Per capita income in the past 12 mon...,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 20...,int,B19301D,0,NaN,NaN,"B19301D_001EA,B19301D_001M,B19301D_001MA",NaN

In [41]:
varList.append(["B19301_001E", "B19301A_001E", "B19301B_001E", "B19301C_001E", "B19301D_001E", "B19301E_001E", "B19301F_001E", "B19301G_001E", "B19301H_001E", "B19301I_001E"])

In [42]:
incomeTables

['B19001',
 'B19013',
 'C17002',
 'B25098',
 'B25099',
 'B25071',
 'B25070',
 'B19313',
 'B19301',
 'B19113',
 'B19101',
 'B19062']

In [43]:
acs.filter_variables("B19113")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B19113_001E,Estimate!!Median family income in the past 12 ...,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN...,int,B19113,0,NaN,NaN,"B19113_001EA,B19113_001M,B19113_001MA",NaN
B19113D_001E,Estimate!!Median family income in the past 12 ...,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN...,int,B19113D,0,NaN,NaN,"B19113D_001EA,B19113D_001M,B19113D_001MA",NaN
B19113I_001E,Estimate!!Median family income in the past 12 ...,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN...,int,B19113I,0,NaN,NaN,"B19113I_001EA,B19113I_001M,B19113I_001MA",NaN
B19113E_001E,Estimate!!Median family income in the past 12 ...,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN...,int,B19113E,0,NaN,NaN,"B19113E_001EA,B19113E_001M,B19113E_001MA",NaN
B19113A_001E,Estimate!!Median family income in the past 12 ...,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN...,int,B19113A,0,NaN,NaN,"B19113A_001EA,B19113A_001M,B19113A_001MA",NaN
B19113F_001E,Estimate!!Median family income in the past 12 ...,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN...,int,B19113F,0,NaN,NaN,"B19113F_001EA,B19113F_001M,B19113F_001MA",NaN
B19113B_001E,Estimate!!Median family income in the past 12 ...,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN...,int,B19113B,0,NaN,NaN,"B19113B_001EA,B19113B_001M,B19113B_001MA",NaN
B19113G_001E,Estimate!!Median family income in the past 12 ...,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN...,int,B19113G,0,NaN,NaN,"B19113G_001EA,B19113G_001M,B19113G_001MA",NaN
B19113C_001E,Estimate!!Median family income in the past 12 ...,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN...,int,B19113C,0,NaN,NaN,"B19113C_001EA,B19113C_001M,B19113C_001MA",NaN
B19113H_001E,Estimate!!Median family income in the past 12 ...,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN...,int,B19113H,0,NaN,NaN,"B19113H_001EA,B19113H_001M,B19113H_001MA",NaN

In [44]:
varList.append(["B19113_001E", "B19113A_001E", "B19113B_001E", "B19113C_001E", "B19113D_001E", "B19113E_001E", "B19113F_001E", "B19113G_001E", "B19113H_001E", "B19113I_001E"])

In [45]:
incomeTables

['B19001',
 'B19013',
 'C17002',
 'B25098',
 'B25099',
 'B25071',
 'B25070',
 'B19313',
 'B19301',
 'B19113',
 'B19101',
 'B19062']

In [46]:
acs.filter_variables("B19101")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B19101A_004E,"Estimate!!Total:!!$15,000 to $19,999",FAMILY INCOME IN THE PAST 12 MONTHS (IN 2019 I...,int,B19101A,0,NaN,NaN,"B19101A_004EA,B19101A_004M,B19101A_004MA",NaN
B19101A_005E,"Estimate!!Total:!!$20,000 to $24,999",FAMILY INCOME IN THE PAST 12 MONTHS (IN 2019 I...,int,B19101A,0,NaN,NaN,"B19101A_005EA,B19101A_005M,B19101A_005MA",NaN
B19101A_006E,"Estimate!!Total:!!$25,000 to $29,999",FAMILY INCOME IN THE PAST 12 MONTHS (IN 2019 I...,int,B19101A,0,NaN,NaN,"B19101A_006EA,B19101A_006M,B19101A_006MA",NaN
B19101A_007E,"Estimate!!Total:!!$30,000 to $34,999",FAMILY INCOME IN THE PAST 12 MONTHS (IN 2019 I...,int,B19101A,0,NaN,NaN,"B19101A_007EA,B19101A_007M,B19101A_007MA",NaN
B19101A_001E,Estimate!!Total:,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2019 I...,int,B19101A,0,NaN,NaN,"B19101A_001EA,B19101A_001M,B19101A_001MA",NaN
...,...,...,...,...,...,...,...,...,...
B19101E_008E,"Estimate!!Total:!!$35,000 to $39,999",FAMILY INCOME IN THE PAST 12 MONTHS (IN 2019 I...,int,B19101E,0,NaN,NaN,"B19101E_008EA,B19101E_008M,B19101E_008MA",NaN
B19101E_009E,"Estimate!!Total:!!$40,000 to $44,999",FAMILY INCOME IN THE PAST 12 MONTHS (IN 2019 I...,int,B19101E,0,NaN,NaN,"B19101E_009EA,B19101E_009M,B19101E_009MA",NaN
B19101E_002E,"Estimate!!Total:!!Less than $10,000",FAMILY INCOME IN THE PAST 12 MONTHS (IN 2019 I...,int,B19101E,0,NaN,NaN,"B19101E_002EA,B19101E_002M,B19101E_002MA",NaN
B19101E_003E,"Estimate!!Total:!!$10,000 to $14,999",FAMILY INCOME IN THE PAST 12 MONTHS (IN 2019 I...,int,B19101E,0,NaN,NaN,"B19101E_003EA,B19101E_003M,B19101E_003MA",NaN
B19101E_001E,Estimate!!Total:,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2019 I...,int,B19101E,0,NaN,NaN,"B19101E_001EA,B19101E_001M,B19101E_001MA",NaN

In [47]:
tesLis = ["B19001_001E", "B19001_002E", "B19001_003E", "B19001_004E", "B19001_005E", "B19001_006E", "B19001_007E", "B19001_008E", "B19001_009E", "B19001_010E", "B19001_011E", "B19001_012E", "B19001_013E", "B19001_014E", "B19001_015E", "B19001_016E", "B19001_017E", "B19001A_001E", "B19001A_002E", "B19001A_003E", "B19001A_004E", "B19001A_005E", "B19001A_006E", "B19001A_007E", "B19001A_008E", "B19001A_009E", "B19001A_010E", "B19001A_011E", "B19001A_012E", "B19001A_013E", "B19001A_014E", "B19001A_015E", "B19001A_016E", "B19001A_017E", "B19001B_001E", "B19001B_002E", "B19001B_003E", "B19001B_004E", "B19001B_005E", "B19001B_006E", "B19001B_007E", "B19001B_008E", "B19001B_009E", "B19001B_010E", "B19001B_011E", "B19001B_012E", "B19001B_013E", "B19001B_014E", "B19001B_015E", "B19001B_016E", "B19001B_017E", "B19001D_001E", "B19001D_002E", "B19001D_003E", "B19001D_004E", "B19001D_005E", "B19001D_006E", "B19001D_007E", "B19001D_008E", "B19001D_009E", "B19001D_010E", "B19001D_011E", "B19001D_012E", "B19001D_013E", "B19001D_014E", "B19001D_015E", "B19001D_016E", "B19001D_017E", "B19001H_001E", "B19001H_002E", "B19001H_003E", "B19001H_004E", "B19001H_005E", "B19001H_006E", "B19001H_007E", "B19001H_008E", "B19001H_009E", "B19001H_010E", "B19001H_011E", "B19001H_012E", "B19001H_013E", "B19001H_014E", "B19001H_015E", "B19001H_016E", "B19001H_017E", "B19001I_001E", "B19001I_002E", "B19001I_003E", "B19001I_004E", "B19001I_005E", "B19001I_006E", "B19001I_007E", "B19001I_008E", "B19001I_009E", "B19001I_010E", "B19001I_011E", "B19001I_012E", "B19001I_013E", "B19001I_014E", "B19001I_015E", "B19001I_016E", "B19001I_017E"]

In [48]:
newlist = [s.replace("B19001", "B19101") for s in tesLis]

In [49]:
varList.append(newlist)

In [50]:
incomeTables

['B19001',
 'B19013',
 'C17002',
 'B25098',
 'B25099',
 'B25071',
 'B25070',
 'B19313',
 'B19301',
 'B19113',
 'B19101',
 'B19062']

In [51]:
acs.filter_variables("B19062")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B19062_001E,Estimate!!Aggregate wage or salary income in t...,AGGREGATE WAGE OR SALARY INCOME IN THE PAST 12...,int,B19062,0,NaN,NaN,"B19062_001EA,B19062_001M,B19062_001MA",NaN

In [52]:
varList.append("B19062_001E")

In [53]:
# Exploring age tables
acs.filter_tables("AGE", by = "description")

,description,columns
table_name,,
B01001,SEX BY AGE,"[B01001_001E, B01001_002E, B01001_003E, B01001..."
B01002,MEDIAN AGE BY SEX,"[B01002_001E, B01002_002E, B01002_003E]"
B05003,SEX BY AGE BY NATIVITY AND CITIZENSHIP STATUS,"[B05003_001E, B05003_002E, B05003_003E, B05003..."
B05004,MEDIAN AGE BY NATIVITY AND CITIZENSHIP STATUS ...,"[B05004_001E, B05004_002E, B05004_003E, B05004..."
B05009,AGE AND NATIVITY OF OWN CHILDREN UNDER 18 YEAR...,"[B05009_001E, B05009_002E, B05009_003E, B05009..."
...,...,...
C27012,HEALTH INSURANCE COVERAGE STATUS AND TYPE BY W...,"[C27012_001E, C27012_002E, C27012_003E, C27012..."
C27016,HEALTH INSURANCE COVERAGE STATUS BY RATIO OF I...,"[C27016_001E, C27016_002E, C27016_003E, C27016..."
C27017,PRIVATE HEALTH INSURANCE BY RATIO OF INCOME TO...,"[C27017_001E, C27017_002E, C27017_003E, C27017..."
C27018,PUBLIC HEALTH INSURANCE BY RATIO OF INCOME TO ...,"[C27018_001E, C27018_002E, C27018_003E, C27018..."
C27021,HEALTH INSURANCE COVERAGE STATUS BY LIVING AR...,"[C27021_001E, C27021_002E, C27021_003E, C27021..."

In [54]:
acs.filter_variables("B01001")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B01001B_029E,Estimate!!Total:!!Female:!!65 to 74 years,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),int,B01001B,0,NaN,NaN,"B01001B_029EA,B01001B_029M,B01001B_029MA",NaN
B01001B_027E,Estimate!!Total:!!Female:!!45 to 54 years,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),int,B01001B,0,NaN,NaN,"B01001B_027EA,B01001B_027M,B01001B_027MA",NaN
B01001B_028E,Estimate!!Total:!!Female:!!55 to 64 years,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),int,B01001B,0,NaN,NaN,"B01001B_028EA,B01001B_028M,B01001B_028MA",NaN
B01001B_025E,Estimate!!Total:!!Female:!!30 to 34 years,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),int,B01001B,0,NaN,NaN,"B01001B_025EA,B01001B_025M,B01001B_025MA",NaN
B01001B_026E,Estimate!!Total:!!Female:!!35 to 44 years,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),int,B01001B,0,NaN,NaN,"B01001B_026EA,B01001B_026M,B01001B_026MA",NaN
...,...,...,...,...,...,...,...,...,...
B01001E_004E,Estimate!!Total:!!Male:!!5 to 9 years,SEX BY AGE (NATIVE HAWAIIAN AND OTHER PACIFIC ...,int,B01001E,0,NaN,NaN,"B01001E_004EA,B01001E_004M,B01001E_004MA",NaN
B01001E_003E,Estimate!!Total:!!Male:!!Under 5 years,SEX BY AGE (NATIVE HAWAIIAN AND OTHER PACIFIC ...,int,B01001E,0,NaN,NaN,"B01001E_003EA,B01001E_003M,B01001E_003MA",NaN
B01001E_002E,Estimate!!Total:!!Male:,SEX BY AGE (NATIVE HAWAIIAN AND OTHER PACIFIC ...,int,B01001E,0,NaN,NaN,"B01001E_002EA,B01001E_002M,B01001E_002MA",NaN
B01001E_030E,Estimate!!Total:!!Female:!!75 to 84 years,SEX BY AGE (NATIVE HAWAIIAN AND OTHER PACIFIC ...,int,B01001E,0,NaN,NaN,"B01001E_030EA,B01001E_030M,B01001E_030MA",NaN
B01001E_031E,Estimate!!Total:!!Female:!!85 years and over,SEX BY AGE (NATIVE HAWAIIAN AND OTHER PACIFIC ...,int,B01001E,0,NaN,NaN,"B01001E_031EA,B01001E_031M,B01001E_031MA",NaN

In [55]:
original_string = "B01001_001E"
altered_strings = ["B01001_001E"]

for i in range(1, 49):
    altered_string = original_string[:7] + "{:03d}".format(i+1) + original_string[-1]
    altered_strings.append(altered_string)

In [56]:
varList.append(altered_strings)

In [57]:
original_string = "B01001_001E"
altered_strings1 = []

for outer_count in range(9):
    for inner_count in range(31):
        altered_string = original_string[:6] + chr(65 + outer_count) + "_" + "{:03d}".format(inner_count+1) + original_string[-1]
        altered_strings1.append(altered_string)

In [58]:
varList.append(altered_strings1)

In [59]:
acs.filter_variables("B01002")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B01002I_001E,Estimate!!Median age --!!Total:,MEDIAN AGE BY SEX (HISPANIC OR LATINO),float,B01002I,0,NaN,NaN,"B01002I_001EA,B01002I_001M,B01002I_001MA",NaN
B01002I_003E,Estimate!!Median age --!!Female,MEDIAN AGE BY SEX (HISPANIC OR LATINO),float,B01002I,0,NaN,NaN,"B01002I_003EA,B01002I_003M,B01002I_003MA",NaN
B01002I_002E,Estimate!!Median age --!!Male,MEDIAN AGE BY SEX (HISPANIC OR LATINO),float,B01002I,0,NaN,NaN,"B01002I_002EA,B01002I_002M,B01002I_002MA",NaN
B01002D_001E,Estimate!!Median age --!!Total:,MEDIAN AGE BY SEX (ASIAN ALONE),float,B01002D,0,NaN,NaN,"B01002D_001EA,B01002D_001M,B01002D_001MA",NaN
B01002D_002E,Estimate!!Median age --!!Male,MEDIAN AGE BY SEX (ASIAN ALONE),float,B01002D,0,NaN,NaN,"B01002D_002EA,B01002D_002M,B01002D_002MA",NaN
B01002D_003E,Estimate!!Median age --!!Female,MEDIAN AGE BY SEX (ASIAN ALONE),float,B01002D,0,NaN,NaN,"B01002D_003EA,B01002D_003M,B01002D_003MA",NaN
B01002A_003E,Estimate!!Median age --!!Female,MEDIAN AGE BY SEX (WHITE ALONE),float,B01002A,0,NaN,NaN,"B01002A_003EA,B01002A_003M,B01002A_003MA",NaN
B01002A_002E,Estimate!!Median age --!!Male,MEDIAN AGE BY SEX (WHITE ALONE),float,B01002A,0,NaN,NaN,"B01002A_002EA,B01002A_002M,B01002A_002MA",NaN
B01002A_001E,Estimate!!Median age --!!Total:,MEDIAN AGE BY SEX (WHITE ALONE),float,B01002A,0,NaN,NaN,"B01002A_001EA,B01002A_001M,B01002A_001MA",NaN
B01002E_002E,Estimate!!Median age --!!Male,MEDIAN AGE BY SEX (NATIVE HAWAIIAN AND OTHER P...,float,B01002E,0,NaN,NaN,"B01002E_002EA,B01002E_002M,B01002E_002MA",NaN
B01002E_003E,Estimate!!Median age --!!Female,MEDIAN AGE BY SEX (NATIVE HAWAIIAN AND OTHER P...,float,B01002E,0,NaN,NaN,"B01002E_003EA,B01002E_003M,B01002E_003MA",NaN
B01002E_001E,Estimate!!Median age --!!Total:,MEDIAN AGE BY SEX (NATIVE HAWAIIAN AND OTHER P...,float,B01002E,0,NaN,NaN,"B01002E_001EA,B01002E_001M,B01002E_001MA",NaN
B01002B_003E,Estimate!!Median age --!!Female,MEDIAN AGE BY SEX (BLACK OR AFRICAN AMERICAN A...,float,B01002B,0,NaN,NaN,"B01002B_003EA,B01002B_003M,B01002B_003MA",NaN
B01002B_002E,Estimate!!Median age --!!Male,MEDIAN AGE BY SEX (BLACK OR AFRICAN AMERICAN A...,float,B01002B,0,NaN,NaN,"B01002B_002EA,B01002B_002M,B01002B_002MA",NaN
B01002B_001E,Estimate!!Median age --!!Total:,MEDIAN AGE BY SEX (BLACK OR AFRICAN AMERICAN A...,float,B01002B,0,NaN,NaN,"B01002B_001EA,B01002B_001M,B01002B_001MA",NaN
B01002G_001E,Estimate!!Median age --!!Total:,MEDIAN AGE BY SEX (TWO OR MORE RACES),float,B01002G,0,NaN,NaN,"B01002G_001EA,B01002G_001M,B01002G_001MA",NaN
B01002G_003E,Estimate!!Median age --!!Female,MEDIAN AGE BY SEX (TWO OR MORE RACES),float,B01002G,0,NaN,NaN,"B01002G_003EA,B01002G_003M,B01002G_003MA",NaN
B01002G_002E,Estimate!!Median age --!!Male,MEDIAN AGE BY SEX (TWO OR MORE RACES),float,B01002G,0,NaN,NaN,"B01002G_002EA,B01002G_002M,B01002G_002MA",NaN
B01002F_003E,Estimate!!Median age --!!Female,MEDIAN AGE BY SEX (SOME OTHER RACE ALONE),float,B01002F,0,NaN,NaN,"B01002F_003EA,B01002F_003M,B01002F_003MA",NaN
B01002F_001E,Estimate!!Median age --!!Total:,MEDIAN AGE BY SEX (SOME OTHER RACE ALONE),float,B01002F,0,NaN,NaN,"B01002F_001EA,B01002F_001M,B01002F_001MA",NaN
B01002F_002E,Estimate!!Median age --!!Male,MEDIAN AGE BY SEX (SOME OTHER RACE ALONE),float,B01002F,0,NaN,NaN,"B01002F_002EA,B01002F_002M,B01002F_002MA",NaN
B01002H_003E,Estimate!!Median age --!!Female,"MEDIAN AGE BY SEX (WHITE ALONE, NOT HISPANIC O...",float,B01002H,0,NaN,NaN,"B01002H_003EA,B01002H_003M,B01002H_003MA",NaN
B01002H_002E,Estimate!!Median age --!!Male,"MEDIAN AGE BY SEX (WHITE ALONE, NOT HISPANIC O...",float,B01002H,0,NaN,NaN,"B01002H_002EA,B01002H_002M,B01002H_002MA",NaN
B01002H_001E,Estimate!!Median age --!!Total:,"MEDIAN AGE BY SEX (WHITE ALONE, NOT HISPANIC O...",float,B01002H,0,NaN,NaN,"B01002H_001EA,B01002H_001M,B01002H_001MA",NaN
B01002C_001E,Estimate!!Median age --!!Total:,MEDIAN AGE BY SEX (AMERICAN INDIAN AND ALASKA ...,float,B01002C,0,NaN,NaN,"B01002C_001EA,B01002C_001M,B01002C_001MA",NaN
B01002C_003E,Estimate!!Median age --!!Female,MEDIAN AGE BY SEX (AMERICAN INDIAN AND ALASKA ...,float,B01002C,0,NaN,NaN,"B01002C_003EA,B01002C_003M,B01002C_003MA",NaN
B01002C_002E,Estimate!!Median age --!!Male,MEDIAN AGE BY SEX (AMERICAN INDIAN AND ALASKA ...,float,B01002C,0,NaN,NaN,"B01002C_002EA,B01002C_002M,B01002C_002MA",NaN
B01002_002E,Estimate!!Median age --!!Male,MEDIAN AGE BY SEX,float,B01002,0,NaN,NaN,"B01002_002EA,B01002_002M,B01002_002MA",NaN
B01002_003E,Estimate!!Median age --!!Female,MEDIAN AGE BY SEX,float,B01002,0,NaN,NaN,"B01002_003EA,B01002_003M,B01002_003MA",NaN
B01002_001E,Estimate!!Median age --!!Total:,MEDIAN AGE BY SEX,float,B01002,0,NaN,NaN,"B01002_001EA,B01002_001M,B01002_001MA",NaN

In [60]:
original_string1 = "B01002_001E"
altered_strings2 = []

for outer_count in range(9):
    for inner_count in range(3):
        altered_string = original_string1[:6] + chr(65 + outer_count) + "_" + "{:03d}".format(inner_count+1) + original_string1[-1]
        altered_strings2.append(altered_string)

In [61]:
varList.append(altered_strings2)

In [62]:
varList.append(["B01002_001E", "B01002_002E", "B01002_003E"])

In [63]:
acs.filter_tables("POPULATION", by = "description")

,description,columns
table_name,,
B01003,TOTAL POPULATION,[B01003_001E]
B05006,PLACE OF BIRTH FOR THE FOREIGN-BORN POPULATION...,"[B05006_001E, B05006_002E, B05006_003E, B05006..."
B05007,PLACE OF BIRTH BY YEAR OF ENTRY BY CITIZENSHIP...,"[B05007_001E, B05007_002E, B05007_003E, B05007..."
B05008,SEX BY PLACE OF BIRTH BY YEAR OF ENTRY FOR THE...,"[B05008_001E, B05008_002E, B05008_003E, B05008..."
B05013,SEX BY AGE FOR THE FOREIGN-BORN POPULATION,"[B05013_001E, B05013_002E, B05013_003E, B05013..."
...,...,...
C24030,SEX BY INDUSTRY FOR THE CIVILIAN EMPLOYED POPU...,"[C24030_001E, C24030_002E, C24030_003E, C24030..."
C24040,"SEX BY INDUSTRY FOR THE FULL-TIME, YEAR-ROUND ...","[C24040_001E, C24040_002E, C24040_003E, C24040..."
C24050,INDUSTRY BY OCCUPATION FOR THE CIVILIAN EMPLO...,"[C24050_001E, C24050_002E, C24050_003E, C24050..."
C24060,OCCUPATION BY CLASS OF WORKER FOR THE CIVILIAN...,"[C24060_001E, C24060_002E, C24060_003E, C24060..."
C24070,INDUSTRY BY CLASS OF WORKER FOR THE CIVILIAN E...,"[C24070_001E, C24070_002E, C24070_003E, C24070..."

In [64]:
acs.filter_variables("B01003")

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B01003_001E,Estimate!!Total,TOTAL POPULATION,int,B01003,0,NaN,NaN,"B01003_001EA,B01003_001M,B01003_001MA",NaN

In [66]:
varList.append("B01003_001E")

In [67]:
diffVars = acs.variables

In [68]:
diffVars = diffVars.reset_index()

In [72]:
diffVars.rename(columns = {"index": "VariableCode"}, inplace=True)

In [73]:
diffVars

,VariableCode,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
0,AIANHH,Geography,NaN,NaN,N/A,0,NaN,NaN,NaN,NaN
1,AIHHTL,Geography,NaN,NaN,N/A,0,NaN,NaN,NaN,NaN
2,AIRES,Geography,NaN,NaN,N/A,0,NaN,NaN,NaN,NaN
3,ANRC,Geography,NaN,NaN,N/A,0,NaN,NaN,NaN,NaN
4,B01001A_001E,Estimate!!Total:,SEX BY AGE (WHITE ALONE),int,B01001A,0,NaN,NaN,"B01001A_001EA,B01001A_001M,B01001A_001MA",NaN
...,...,...,...,...,...,...,...,...,...,...
27075,UA,Geography,NaN,NaN,N/A,0,NaN,NaN,NaN,NaN
27076,ZCTA,Geography,NaN,NaN,N/A,0,NaN,NaN,NaN,NaN
27077,for,Census API FIPS 'for' clause,Census API Geography Specification,fips-for,N/A,0,True,NaN,NaN,NaN
27078,in,Census API FIPS 'in' clause,Census API Geography Specification,fips-in,N/A,0,True,NaN,NaN,NaN
27079,ucgid,Uniform Census Geography Identifier clause,Census API Geography Specification,ucgid,N/A,0,True,True,NaN,NaN

In [76]:
varList

[['B02001_001E',
  'B02001_002E',
  'B02001_003E',
  'B02001_004E',
  'B02001_005E',
  'B02001_006E',
  'B02001_007E',
  'B02001_008E',
  'B02001_009E',
  'B02001_010E'],
 ['B03002_001', 'B03002_002', 'B03002_012'],
 ['B25006_001E',
  'B25006_002E',
  'B25006_003E',
  'B25006_004E',
  'B25006_005E',
  'B25006_006E',
  'B25006_007E',
  'B25006_008E',
  'B25006_009E',
  'B25006_010E'],
 ['B19001_001E',
  'B19001_002E',
  'B19001_003E',
  'B19001_004E',
  'B19001_005E',
  'B19001_006E',
  'B19001_007E',
  'B19001_008E',
  'B19001_009E',
  'B19001_010E',
  'B19001_011E',
  'B19001_012E',
  'B19001_013E',
  'B19001_014E',
  'B19001_015E',
  'B19001_016E',
  'B19001_017E',
  'B19001A_001E',
  'B19001A_002E',
  'B19001A_003E',
  'B19001A_004E',
  'B19001A_005E',
  'B19001A_006E',
  'B19001A_007E',
  'B19001A_008E',
  'B19001A_009E',
  'B19001A_010E',
  'B19001A_011E',
  'B19001A_012E',
  'B19001A_013E',
  'B19001A_014E',
  'B19001A_015E',
  'B19001A_016E',
  'B19001A_017E',
  'B19001B_001E',
  'B19001B_002E',
  'B19001B_003E',
  'B19001B_004E',
  'B19001B_005E',
  'B19001B_006E',
  'B19001B_007E',
  'B19001B_008E',
  'B19001B_009E',
  'B19001B_010E',
  'B19001B_011E',
  'B19001B_012E',
  'B19001B_013E',
  'B19001B_014E',
  'B19001B_015E',
  'B19001B_016E',
  'B19001B_017E',
  'B19001D_001E',
  'B19001D_002E',
  'B19001D_003E',
  'B19001D_004E',
  'B19001D_005E',
  'B19001D_006E',
  'B19001D_007E',
  'B19001D_008E',
  'B19001D_009E',
  'B19001D_010E',
  'B19001D_011E',
  'B19001D_012E',
  'B19001D_013E',
  'B19001D_014E',
  'B19001D_015E',
  'B19001D_016E',
  'B19001D_017E',
  'B19001H_001E',
  'B19001H_002E',
  'B19001H_003E',
  'B19001H_004E',
  'B19001H_005E',
  'B19001H_006E',
  'B19001H_007E',
  'B19001H_008E',
  'B19001H_009E',
  'B19001H_010E',
  'B19001H_011E',
  'B19001H_012E',
  'B19001H_013E',
  'B19001H_014E',
  'B19001H_015E',
  'B19001H_016E',
  'B19001H_017E',
  'B19001I_001E',
  'B19001I_002E',
  'B19001I_003E',
  'B19001I_004E',
  'B19001I_005E',
  'B19001I_006E',
  'B19001I_007E',
  'B19001I_008E',
  'B19001I_009E',
  'B19001I_010E',
  'B19001I_011E',
  'B19001I_012E',
  'B19001I_013E',
  'B19001I_014E',
  'B19001I_015E',
  'B19001I_016E',
  'B19001I_017E'],
 ['B19013_001E',
  'B19013A_001E',
  'B19013B_001E',
  'B19013C_001E',
  'B19013D_001E',
  'B19013E_001E',
  'B19013F_001E',
  'B19013G_001E',
  'B19013H_001E',
  'B19013I_001E'],
 ['C17002_001E',
  'C17002_002E',
  'C17002_003E',
  'C17002_004E',
  'C17002_005E',
  'C17002_006E',
  'C17002_007E',
  'C17002_008E'],
 ['B25098_001E',
  'B25098_002E',
  'B25098_003E',
  'B25098_004E',
  'B25098_005E',
  'B25098_006E',
  'B25098_007E',
  'B25098_008E',
  'B25098_009E',
  'B25098_010E',
  'B25098_011E',
  'B25098_012E',
  'B25098_013E',
  'B25098_014E',
  'B25098_015E',
  'B25098_016E',
  'B25098_017E',
  'B25098_018E',
  'B25098_019E'],
 ['B25099_001E', 'B25099_002E', 'B25099_003E'],
 'B25071_001E',
 ['B25070_001E',
  'B25070_002E',
  'B25070_003E',
  'B25070_004E',
  'B25070_005E',
  'B25070_006E',
  'B25070_007E',
  'B25070_008E',
  'B25070_009E',
  'B25070_010E',
  'B25070_011E'],
 ['B19313_001E',
  'B19313A_001E',
  'B19313B_001E',
  'B19313C_001E',
  'B19313D_001E',
  'B19313E_001E',
  'B19313F_001E',
  'B19313G_001E',
  'B19313H_001E',
  'B19313I_001E'],
 ['B19301_001E',
  'B19301A_001E',
  'B19301B_001E',
  'B19301C_001E',
  'B19301D_001E',
  'B19301E_001E',
  'B19301F_001E',
  'B19301G_001E',
  'B19301H_001E',
  'B19301I_001E'],
 ['B19113_001E',
  'B19113A_001E',
  'B19113B_001E',
  'B19113C_001E',
  'B19113D_001E',
  'B19113E_001E',
  'B19113F_001E',
  'B19113G_001E',
  'B19113H_001E',
  'B19113I_001E'],
 ['B19101_001E',
  'B19101_002E',
  'B19101_003E',
  'B19101_004E',
  'B19101_005E',
  'B19101_006E',
  'B19101_007E',
  'B19101_008E',
  'B19101_009E',
  'B19101_010E',
  'B19101_011E',
  'B19101_012E',
  'B19101_013E',
  'B19101_014E',
  'B19101_015E',
  'B19101_016E',
  'B19101_017E',
  'B19101A_001E',
  'B19101A_002E',
  'B19101A_003E',
  'B19101A_004E',
  'B19101A_005E',
  'B19101A_006E',
  'B19101A_007E',
  'B19101A_008E',
  'B19101A_009E',
  'B19101A_010E',
  'B19101A_011E',
  'B19101A_012E',
  'B19101A_013E',
  'B19101A_014E',
  'B19101A_015E',
  'B19101A_016E',
  'B19101A_017E',
  'B19101B_001E',
  'B19101B_002E',
  'B19101B_003E',
  'B19101B_004E',
  'B19101B_005E',
  'B19101B_006E',
  'B19101B_007E',
  'B19101B_008E',
  'B19101B_009E',
  'B19101B_010E',
  'B19101B_011E',
  'B19101B_012E',
  'B19101B_013E',
  'B19101B_014E',
  'B19101B_015E',
  'B19101B_016E',
  'B19101B_017E',
  'B19101D_001E',
  'B19101D_002E',
  'B19101D_003E',
  'B19101D_004E',
  'B19101D_005E',
  'B19101D_006E',
  'B19101D_007E',
  'B19101D_008E',
  'B19101D_009E',
  'B19101D_010E',
  'B19101D_011E',
  'B19101D_012E',
  'B19101D_013E',
  'B19101D_014E',
  'B19101D_015E',
  'B19101D_016E',
  'B19101D_017E',
  'B19101H_001E',
  'B19101H_002E',
  'B19101H_003E',
  'B19101H_004E',
  'B19101H_005E',
  'B19101H_006E',
  'B19101H_007E',
  'B19101H_008E',
  'B19101H_009E',
  'B19101H_010E',
  'B19101H_011E',
  'B19101H_012E',
  'B19101H_013E',
  'B19101H_014E',
  'B19101H_015E',
  'B19101H_016E',
  'B19101H_017E',
  'B19101I_001E',
  'B19101I_002E',
  'B19101I_003E',
  'B19101I_004E',
  'B19101I_005E',
  'B19101I_006E',
  'B19101I_007E',
  'B19101I_008E',
  'B19101I_009E',
  'B19101I_010E',
  'B19101I_011E',
  'B19101I_012E',
  'B19101I_013E',
  'B19101I_014E',
  'B19101I_015E',
  'B19101I_016E',
  'B19101I_017E'],
 'B19062_001E',
 ['B01001_001E',
  'B01001_002E',
  'B01001_003E',
  'B01001_004E',
  'B01001_005E',
  'B01001_006E',
  'B01001_007E',
  'B01001_008E',
  'B01001_009E',
  'B01001_010E',
  'B01001_011E',
  'B01001_012E',
  'B01001_013E',
  'B01001_014E',
  'B01001_015E',
  'B01001_016E',
  'B01001_017E',
  'B01001_018E',
  'B01001_019E',
  'B01001_020E',
  'B01001_021E',
  'B01001_022E',
  'B01001_023E',
  'B01001_024E',
  'B01001_025E',
  'B01001_026E',
  'B01001_027E',
  'B01001_028E',
  'B01001_029E',
  'B01001_030E',
  'B01001_031E',
  'B01001_032E',
  'B01001_033E',
  'B01001_034E',
  'B01001_035E',
  'B01001_036E',
  'B01001_037E',
  'B01001_038E',
  'B01001_039E',
  'B01001_040E',
  'B01001_041E',
  'B01001_042E',
  'B01001_043E',
  'B01001_044E',
  'B01001_045E',
  'B01001_046E',
  'B01001_047E',
  'B01001_048E',
  'B01001_049E'],
 ['B01001A_001E',
  'B01001A_002E',
  'B01001A_003E',
  'B01001A_004E',
  'B01001A_005E',
  'B01001A_006E',
  'B01001A_007E',
  'B01001A_008E',
  'B01001A_009E',
  'B01001A_010E',
  'B01001A_011E',
  'B01001A_012E',
  'B01001A_013E',
  'B01001A_014E',
  'B01001A_015E',
  'B01001A_016E',
  'B01001A_017E',
  'B01001A_018E',
  'B01001A_019E',
  'B01001A_020E',
  'B01001A_021E',
  'B01001A_022E',
  'B01001A_023E',
  'B01001A_024E',
  'B01001A_025E',
  'B01001A_026E',
  'B01001A_027E',
  'B01001A_028E',
  'B01001A_029E',
  'B01001A_030E',
  'B01001A_031E',
  'B01001B_001E',
  'B01001B_002E',
  'B01001B_003E',
  'B01001B_004E',
  'B01001B_005E',
  'B01001B_006E',
  'B01001B_007E',
  'B01001B_008E',
  'B01001B_009E',
  'B01001B_010E',
  'B01001B_011E',
  'B01001B_012E',
  'B01001B_013E',
  'B01001B_014E',
  'B01001B_015E',
  'B01001B_016E',
  'B01001B_017E',
  'B01001B_018E',
  'B01001B_019E',
  'B01001B_020E',
  'B01001B_021E',
  'B01001B_022E',
  'B01001B_023E',
  'B01001B_024E',
  'B01001B_025E',
  'B01001B_026E',
  'B01001B_027E',
  'B01001B_028E',
  'B01001B_029E',
  'B01001B_030E',
  'B01001B_031E',
  'B01001C_001E',
  'B01001C_002E',
  'B01001C_003E',
  'B01001C_004E',
  'B01001C_005E',
  'B01001C_006E',
  'B01001C_007E',
  'B01001C_008E',
  'B01001C_009E',
  'B01001C_010E',
  'B01001C_011E',
  'B01001C_012E',
  'B01001C_013E',
  'B01001C_014E',
  'B01001C_015E',
  'B01001C_016E',
  'B01001C_017E',
  'B01001C_018E',
  'B01001C_019E',
  'B01001C_020E',
  'B01001C_021E',
  'B01001C_022E',
  'B01001C_023E',
  'B01001C_024E',
  'B01001C_025E',
  'B01001C_026E',
  'B01001C_027E',
  'B01001C_028E',
  'B01001C_029E',
  'B01001C_030E',
  'B01001C_031E',
  'B01001D_001E',
  'B01001D_002E',
  'B01001D_003E',
  'B01001D_004E',
  'B01001D_005E',
  'B01001D_006E',
  'B01001D_007E',
  'B01001D_008E',
  'B01001D_009E',
  'B01001D_010E',
  'B01001D_011E',
  'B01001D_012E',
  'B01001D_013E',
  'B01001D_014E',
  'B01001D_015E',
  'B01001D_016E',
  'B01001D_017E',
  'B01001D_018E',
  'B01001D_019E',
  'B01001D_020E',
  'B01001D_021E',
  'B01001D_022E',
  'B01001D_023E',
  'B01001D_024E',
  'B01001D_025E',
  'B01001D_026E',
  'B01001D_027E',
  'B01001D_028E',
  'B01001D_029E',
  'B01001D_030E',
  'B01001D_031E',
  'B01001E_001E',
  'B01001E_002E',
  'B01001E_003E',
  'B01001E_004E',
  'B01001E_005E',
  'B01001E_006E',
  'B01001E_007E',
  'B01001E_008E',
  'B01001E_009E',
  'B01001E_010E',
  'B01001E_011E',
  'B01001E_012E',
  'B01001E_013E',
  'B01001E_014E',
  'B01001E_015E',
  'B01001E_016E',
  'B01001E_017E',
  'B01001E_018E',
  'B01001E_019E',
  'B01001E_020E',
  'B01001E_021E',
  'B01001E_022E',
  'B01001E_023E',
  'B01001E_024E',
  'B01001E_025E',
  'B01001E_026E',
  'B01001E_027E',
  'B01001E_028E',
  'B01001E_029E',
  'B01001E_030E',
  'B01001E_031E',
  'B01001F_001E',
  'B01001F_002E',
  'B01001F_003E',
  'B01001F_004E',
  'B01001F_005E',
  'B01001F_006E',
  'B01001F_007E',
  'B01001F_008E',
  'B01001F_009E',
  'B01001F_010E',
  'B01001F_011E',
  'B01001F_012E',
  'B01001F_013E',
  'B01001F_014E',
  'B01001F_015E',
  'B01001F_016E',
  'B01001F_017E',
  'B01001F_018E',
  'B01001F_019E',
  'B01001F_020E',
  'B01001F_021E',
  'B01001F_022E',
  'B01001F_023E',
  'B01001F_024E',
  'B01001F_025E',
  'B01001F_026E',
  'B01001F_027E',
  'B01001F_028E',
  'B01001F_029E',
  'B01001F_030E',
  'B01001F_031E',
  'B01001G_001E',
  'B01001G_002E',
  'B01001G_003E',
  'B01001G_004E',
  'B01001G_005E',
  'B01001G_006E',
  'B01001G_007E',
  'B01001G_008E',
  'B01001G_009E',
  'B01001G_010E',
  'B01001G_011E',
  'B01001G_012E',
  'B01001G_013E',
  'B01001G_014E',
  'B01001G_015E',
  'B01001G_016E',
  'B01001G_017E',
  'B01001G_018E',
  'B01001G_019E',
  'B01001G_020E',
  'B01001G_021E',
  'B01001G_022E',
  'B01001G_023E',
  'B01001G_024E',
  'B01001G_025E',
  'B01001G_026E',
  'B01001G_027E',
  'B01001G_028E',
  'B01001G_029E',
  'B01001G_030E',
  'B01001G_031E',
  'B01001H_001E',
  'B01001H_002E',
  'B01001H_003E',
  'B01001H_004E',
  'B01001H_005E',
  'B01001H_006E',
  'B01001H_007E',
  'B01001H_008E',
  'B01001H_009E',
  'B01001H_010E',
  'B01001H_011E',
  'B01001H_012E',
  'B01001H_013E',
  'B01001H_014E',
  'B01001H_015E',
  'B01001H_016E',
  'B01001H_017E',
  'B01001H_018E',
  'B01001H_019E',
  'B01001H_020E',
  'B01001H_021E',
  'B01001H_022E',
  'B01001H_023E',
  'B01001H_024E',
  'B01001H_025E',
  'B01001H_026E',
  'B01001H_027E',
  'B01001H_028E',
  'B01001H_029E',
  'B01001H_030E',
  'B01001H_031E',
  'B01001I_001E',
  'B01001I_002E',
  'B01001I_003E',
  'B01001I_004E',
  'B01001I_005E',
  'B01001I_006E',
  'B01001I_007E',
  'B01001I_008E',
  'B01001I_009E',
  'B01001I_010E',
  'B01001I_011E',
  'B01001I_012E',
  'B01001I_013E',
  'B01001I_014E',
  'B01001I_015E',
  'B01001I_016E',
  'B01001I_017E',
  'B01001I_018E',
  'B01001I_019E',
  'B01001I_020E',
  'B01001I_021E',
  'B01001I_022E',
  'B01001I_023E',
  'B01001I_024E',
  'B01001I_025E',
  'B01001I_026E',
  'B01001I_027E',
  'B01001I_028E',
  'B01001I_029E',
  'B01001I_030E',
  'B01001I_031E'],
 ['B01002A_001E',
  'B01002A_002E',
  'B01002A_003E',
  'B01002B_001E',
  'B01002B_002E',
  'B01002B_003E',
  'B01002C_001E',
  'B01002C_002E',
  'B01002C_003E',
  'B01002D_001E',
  'B01002D_002E',
  'B01002D_003E',
  'B01002E_001E',
  'B01002E_002E',
  'B01002E_003E',
  'B01002F_001E',
  'B01002F_002E',
  'B01002F_003E',
  'B01002G_001E',
  'B01002G_002E',
  'B01002G_003E',
  'B01002H_001E',
  'B01002H_002E',
  'B01002H_003E',
  'B01002I_001E',
  'B01002I_002E',
  'B01002I_003E'],
 ['B01002_001E', 'B01002_002E', 'B01002_003E'],
 'B01003_001E']