In [23]:
import os
import csv
import pandas as pd

Set up
This file....

LAR / HMDA data (state_AZ-CA.csv)
To download the entire file, go to this link. In Step 1 select Arizona and California. Then click download dataset.
Save this file to the /input_data/ folder.
Note: This file is 1.6GB, so it is not in the repo.
Note: There are columns with "mixed types".
The code below will create a mini version to work with while we develop the analysis.

In [24]:
if not os.path.exists("../input_data/state_AZ-CA_mini.csv"):
    hmda = pd.read_csv('../input_data/state_AZ-CA.csv')
    hmda.sample(50000).to_csv('../input_data/state_AZ-CA_mini.csv',index=False)

In [25]:
hmda = pd.read_csv('../input_data/state_AZ-CA_mini.csv')

In [12]:
# Filter the rows that correspond to denied loans
denied_loans = hmda[hmda['action_taken'] == 3]

# Calculate the number of denied loans
denied_count = len(denied_loans)

# Calculate the total number of loans
total_count = len(hmda)

# Calculate the denial rate
denial_rate = denied_count / total_count

# Print the denial rate
print("Denial Rate:", denial_rate)

Denial Rate: 0.10132

denied_loans = hmda[hmda['action_taken'] == 3]
grouped = denied_loans.groupby('lei').size().reset_index(name='denied_loans_count')
grouped['total_loans_count'] = hmda.groupby('lei').size()
grouped['denial_rate'] = grouped['denied_loans_count'] / grouped['total_loans_count']

In [ ]:
def group_lei(row):
    if row['lei'] == 'QOT5WN9RBKQTFRVKEV31':
        return 'lei_1'
    elif row['lei'] == '3Y4U8VZURTYWI1W2K376':
        return 'lei_2'
    else:
        return 'lei_3'

hmda['grouped_lei'] = hmda.apply(group_lei, axis=1)

In [19]:
print(hmda.head())

   activity_year                   lei  derived_msa-md state_code  \
0           2021  549300FNXYY540N23N64           31084         CA
1           2021  B4TYDEB6GKMZO031MB27           40140         CA
2           2021  549300AG64NHILB7ZP05           44700         CA
3           2021  549300E2UX99HKDBR481           38060         AZ
4           2021  7H6GLXDRUGQFU57RNE97           31084         CA

   county_code  census_tract conforming_loan_limit derived_loan_product_type  \
0       6037.0  6.037503e+09                     C   Conventional:First Lien
1       6065.0  6.065042e+09                    NC   Conventional:First Lien
2       6077.0  6.077005e+09                     C   Conventional:First Lien
3       4013.0  4.013041e+09                     C   Conventional:First Lien
4       6037.0  6.037403e+09                     C   Conventional:First Lien

              derived_dwelling_category        derived_ethnicity  ...  \
0  Single Family (1-4 Units):Site-Built       Hispanic or Latino  ...
1  Single Family (1-4 Units):Site-Built   Not Hispanic or Latino  ...
2  Single Family (1-4 Units):Site-Built  Ethnicity Not Available  ...
3  Single Family (1-4 Units):Site-Built  Ethnicity Not Available  ...
4  Single Family (1-4 Units):Site-Built       Hispanic or Latino  ...

  denial_reason-3 denial_reason-4  tract_population  \
0             NaN             NaN              6935
1             NaN             NaN             11643
2             NaN             NaN              6365
3             NaN             NaN              3998
4             NaN             NaN              6999

   tract_minority_population_percent  ffiec_msa_md_median_family_income  \
0                              88.62                              80000
1                              53.40                              77500
2                              38.29                              74000
3                               9.33                              79000
4                              75.47                              80000

   tract_to_msa_income_percentage  tract_owner_occupied_units  \
0                             143                        1368
1                             179                        3077
2                             139                        1899
3                             119                        1569
4                              74                        1243

   tract_one_to_four_family_homes  tract_median_age_of_housing_units  \
0                            1689                                 59
1                            3791                                 12
2                            2250                                 10
3                            2338                                 10
4                            2199                                 76

   grouped_lei
0        lei_3
1        lei_3
2        lei_3
3        lei_3
4        lei_3

[5 rows x 100 columns]

group_lei takes one row of the data set and figures out what group it should be in based on the LEI. .appy function takes this function and applies it to every row in thedataset.

In [22]:
grouped = hmda.groupby(['derived_loan_product_type', 'grouped_lei'])
hmda['denial_rate'] = grouped['action_taken'].mean().apply(lambda x: x == 3)

TypeError: incompatible index of inserted column with frame index

In [28]:
hmda["denied"] = hmda["action_taken"].apply(lambda x: x == 3)

# Calculate the denial rate for each loan product type
loan_types = hmda["derived_loan_product_type"].unique()
denial_rates = {}
for loan_type in loan_types:
    subset = hmda[hmda["derived_loan_product_type"] == loan_type]
    denial_rate = subset["denied"].mean()
    denial_rates[loan_type] = denial_rate

print(denial_rates)
#This will give you a dictionary with the denial rate for each loan product type

{'Conventional:First Lien': 0.08792929292929293, 'VA:First Lien': 0.09214326978625072, 'FHA:First Lien': 0.10550342378899315, 'Conventional:Subordinate Lien': 0.2932776036224312, 'FHA:Subordinate Lien': 0.0, 'FSA/RHS:First Lien': 0.07, 'FSA/RHS:Subordinate Lien': 0.0, 'VA:Subordinate Lien': 0.0}

In [39]:
#Groupby code for Bank of the West lei
hmda_lei = hmda.groupby('lei')
hmda_lei.get_group('QOT5WN9RBKQTFRVKEV31')

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,denied
13,2021,QOT5WN9RBKQTFRVKEV31,41740,CA,6073.0,6.073016e+09,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,5512,22.37,95100,150,1674,1989,42,False
23,2021,QOT5WN9RBKQTFRVKEV31,11244,CA,6059.0,6.059100e+09,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,5554,79.47,106700,50,580,1196,40,False
325,2021,QOT5WN9RBKQTFRVKEV31,40900,CA,6067.0,6.067010e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,7842,67.04,90900,142,1809,2293,16,False
976,2021,QOT5WN9RBKQTFRVKEV31,23420,CA,6019.0,6.019005e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,4417,82.05,62800,71,642,1203,53,False
1447,2021,QOT5WN9RBKQTFRVKEV31,41740,CA,6073.0,6.073017e+09,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,5285,24.88,95100,115,1301,1439,37,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49206,2021,QOT5WN9RBKQTFRVKEV31,36084,CA,6013.0,6.013302e+09,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,8787,65.13,125600,97,1463,2164,14,False
49283,2021,QOT5WN9RBKQTFRVKEV31,36084,CA,6001.0,6.001444e+09,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,4902,77.97,125600,86,886,1248,54,False
49697,2021,QOT5WN9RBKQTFRVKEV31,31084,CA,6037.0,6.037107e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,3422,47.63,80000,155,1000,1112,52,False
49710,2021,QOT5WN9RBKQTFRVKEV31,38060,AZ,4021.0,4.021001e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,2190,20.55,79000,104,895,1460,0,False
49907,2021,QOT5WN9RBKQTFRVKEV31,38060,AZ,4013.0,4.013113e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,8786,86.24,79000,66,1291,2478,11,False

In [40]:
#denial rates for bank of the west

lei = 'QOT5WN9RBKQTFRVKEV31'
hmda_lei_group = hmda_lei.get_group(lei)
loan_product_types = hmda_lei_group['derived_loan_product_type'].unique()
denial_rates = {}
for loan_product_type in loan_product_types:
    loan_product_type_data = hmda_lei_group[hmda_lei_group['derived_loan_product_type'] == loan_product_type]
    num_denials = (loan_product_type_data['action_taken'] == 3).sum()
    total = loan_product_type_data.shape[0]
    denial_rate = num_denials / total
    denial_rates[loan_product_type] = denial_rate
denial_rates_df = pd.DataFrame.from_dict(denial_rates, orient='index', columns=[lei])

In [41]:
print(denial_rates_df)

                               QOT5WN9RBKQTFRVKEV31
Conventional:First Lien                    0.271523
Conventional:Subordinate Lien              0.376471
VA:First Lien                              0.000000
FHA:First Lien                             1.000000

In [42]:
#denial rates for BMO

lei = '3Y4U8VZURTYWI1W2K376'
lei_group = hmda_lei.get_group(lei)
lei_denial_rate = lei_group[lei_group['action_taken'] == 3].groupby('derived_loan_product_type').size() / lei_group.groupby('derived_loan_product_type').size()

In [43]:
print(lei_denial_rate)

derived_loan_product_type
Conventional:First Lien          0.080000
Conventional:Subordinate Lien    0.294118
dtype: float64