In [1]:
import os
import csv
import pandas as pd

In [2]:
import pandas as pd 
import pandas_profiling
from pandas_profiling import ProfileReport

In [4]:
hmda = pd.read_csv('../input_data/state_AZ-CA_mini.csv')

In [5]:
hmda['denial'] = hmda['action_taken'] == 3

In [6]:
def hmda_bank(row):
  if row['lei'] == 'QOT5WN9RBKQTFRVKEV31':
    hmda_bank = 'Bank of West'
  elif row['lei'] == '3Y4U8VZURTYWI1W2K376':
    hmda_bank = 'BMO Harris'
  else: 
    hmda_bank = 'All Other Banks'
  return hmda_bank

In [7]:
hmda['which_bank'] = hmda.apply(hmda_bank,axis=1)
hmda['which_bank'].value_counts()

All Other Banks    49721
Bank of West         235
BMO Harris            44
Name: which_bank, dtype: int64

In [8]:
hmda.groupby(['which_bank', 'loan_type', 'loan_purpose'])['denial'].mean()

which_bank       loan_type  loan_purpose
All Other Banks  1          1               0.069421
                            2               0.320124
                            4               0.307929
                            5               0.000000
                            31              0.085192
                            32              0.090909
                 2          1               0.069640
                            2               0.214286
                            4               0.137931
                            5               0.000000
                            31              0.109897
                            32              0.184483
                 3          1               0.036316
                            2               0.100000
                            4               0.250000
                            5               0.000000
                            31              0.082820
                            32              0.157835
                 4          1               0.000000
                            5               0.000000
                            31              0.272727
                            32              0.000000
BMO Harris       1          1               0.142857
                            2               0.454545
                            4               0.400000
                            31              0.000000
                            32              0.666667
Bank of West     1          1               0.093750
                            2               0.343750
                            4               0.274510
                            31              0.214286
                            32              0.228571
                 3          31              0.000000
Name: denial, dtype: float64

In [9]:
pivot = hmda.pivot_table(index=['loan_type', 'loan_purpose'], columns = ['which_bank'], values='denial', aggfunc='mean')

# The pivot table shows the mean denial rate for each combination of bank, loan type, and loan purpose
print(pivot)

which_bank              All Other Banks  BMO Harris  Bank of West
loan_type loan_purpose
1         1                    0.069421    0.142857      0.093750
          2                    0.320124    0.454545      0.343750
          4                    0.307929    0.400000      0.274510
          5                    0.000000         NaN           NaN
          31                   0.085192    0.000000      0.214286
          32                   0.090909    0.666667      0.228571
2         1                    0.069640         NaN           NaN
          2                    0.214286         NaN           NaN
          4                    0.137931         NaN           NaN
          5                    0.000000         NaN           NaN
          31                   0.109897         NaN           NaN
          32                   0.184483         NaN           NaN
3         1                    0.036316         NaN           NaN
          2                    0.100000         NaN           NaN
          4                    0.250000         NaN           NaN
          5                    0.000000         NaN           NaN
          31                   0.082820         NaN      0.000000
          32                   0.157835         NaN           NaN
4         1                    0.000000         NaN           NaN
          5                    0.000000         NaN           NaN
          31                   0.272727         NaN           NaN
          32                   0.000000         NaN           NaN

In [10]:
pivot_Mean_Loan = hmda.pivot_table(index=['loan_type', 'loan_purpose'], columns = ['which_bank'], values='loan_amount', aggfunc='mean')

In [11]:
print(pivot_Mean_Loan)
#The pivot table shows the mean loan amount for all loan applications, approved or denied, for each combination of bank, loan type, and loan purpose

which_bank              All Other Banks    BMO Harris   Bank of West
loan_type loan_purpose
1         1               588662.190083  6.764286e+05  741250.000000
          2               197458.204334  1.031818e+05  201250.000000
          4               295169.361047  1.470000e+05  290490.196078
          5               356315.789474           NaN            NaN
          31              459362.146617  1.115000e+06  498333.333333
          32              436638.146168  4.016667e+05  626142.857143
2         1               361017.104459           NaN            NaN
          2               262142.857143           NaN            NaN
          4               322931.034483           NaN            NaN
          5               201029.411765           NaN            NaN
          31              310077.120823           NaN            NaN
          32              313517.241379           NaN            NaN
3         1               486595.330739           NaN            NaN
          2               517000.000000           NaN            NaN
          4               406250.000000           NaN            NaN
          5               225000.000000           NaN            NaN
          31              374110.240627           NaN  485000.000000
          32              411629.086809           NaN            NaN
4         1               284402.985075           NaN            NaN
          5                95000.000000           NaN            NaN
          31              465909.090909           NaN            NaN
          32              329285.714286           NaN            NaN

In [15]:
hmda['approved'] = hmda['action_taken'] == 1

In [16]:
print(hmda)

       activity_year                   lei  derived_msa-md state_code  \
0               2021  254900D8UVDBN0LNLV64           47300         CA
1               2021  7H6GLXDRUGQFU57RNE97           46060         AZ
2               2021  549300XQVJ1XBNFA5536           41740         CA
3               2021  549300YIQ7S7Z8PIHE53           99999         CA
4               2021  549300MGPZBLQDIL7538           40900         CA
...              ...                   ...             ...        ...
49995           2021  254900VHUBSJJKOMBF27           40140         CA
49996           2021  549300SK2GVCQXPD4S58           38060         AZ
49997           2021  549300O6Z0I6KYMESL47           31084         CA
49998           2021  254900HA4DQWAE0W3342           46060         AZ
49999           2021  KB1H1DSPRFMYMCUFXT09           36084         CA

       county_code  census_tract conforming_loan_limit  \
0           6107.0  6.107004e+09                     C
1           4019.0  4.019004e+09                     C
2           6073.0  6.073020e+09                     C
3           6109.0  6.109005e+09                     C
4           6067.0  6.067002e+09                     C
...            ...           ...                   ...
49995       6065.0  6.065043e+09                     C
49996       4013.0  4.013818e+09                     C
49997       6037.0  6.037910e+09                    NC
49998       4019.0  4.019003e+09                     C
49999       6001.0  6.001432e+09                     C

      derived_loan_product_type               derived_dwelling_category  \
0                FHA:First Lien    Single Family (1-4 Units):Site-Built
1       Conventional:First Lien    Single Family (1-4 Units):Site-Built
2       Conventional:First Lien  Single Family (1-4 Units):Manufactured
3       Conventional:First Lien    Single Family (1-4 Units):Site-Built
4       Conventional:First Lien    Single Family (1-4 Units):Site-Built
...                         ...                                     ...
49995   Conventional:First Lien    Single Family (1-4 Units):Site-Built
49996   Conventional:First Lien    Single Family (1-4 Units):Site-Built
49997   Conventional:First Lien    Single Family (1-4 Units):Site-Built
49998   Conventional:First Lien    Single Family (1-4 Units):Site-Built
49999   Conventional:First Lien    Single Family (1-4 Units):Site-Built

             derived_ethnicity  ... tract_population  \
0           Hispanic or Latino  ...             3339
1       Not Hispanic or Latino  ...             3533
2           Hispanic or Latino  ...             4543
3       Not Hispanic or Latino  ...             8124
4                        Joint  ...             2582
...                        ...  ...              ...
49995   Not Hispanic or Latino  ...            10075
49996  Ethnicity Not Available  ...             1240
49997   Not Hispanic or Latino  ...             5508
49998  Ethnicity Not Available  ...             6432
49999   Not Hispanic or Latino  ...             3789

      tract_minority_population_percent  ffiec_msa_md_median_family_income  \
0                                 69.63                              57900
1                                  0.79                              68600
2                                 38.76                              95100
3                                 11.89                              69700
4                                 63.01                              90900
...                                 ...                                ...
49995                             46.06                              77500
49996                             54.11                              79000
49997                             45.44                              80000
49998                             39.01                              68600
49999                             59.44                             125600

       tract_to_msa_income_percentage  tract_owner_occupied_units  \
0                                  92                         298
1                                 109                        1851
2                                 102                         871
3                                  91                        2597
4                                  58                         146
...                               ...                         ...
49995                             139                        2081
49996                             116                         221
49997                             154                        1504
49998                              89                        1221
49999                             119                        1095

       tract_one_to_four_family_homes  tract_median_age_of_housing_units  \
0                                 769                                 44
1                                3048                                 29
2                                1374                                 35
3                                3593                                 35
4                                 937                                 68
...                               ...                                ...
49995                            2584                                 10
49996                             365                                 20
49997                            1748                                 30
49998                            2396                                 58
49999                            1344                                 76

       denial       which_bank  approved
0       False  All Other Banks     False
1       False  All Other Banks      True
2       False  All Other Banks     False
3        True  All Other Banks     False
4       False  All Other Banks      True
...       ...              ...       ...
49995   False  All Other Banks      True
49996   False  All Other Banks      True
49997   False  All Other Banks      True
49998   False  All Other Banks     False
49999   False  All Other Banks      True

[50000 rows x 102 columns]

In [17]:
hmda_approved = hmda[hmda['approved'] == True]

In [18]:
pivot_Mean_Loan = hmda_approved.pivot_table(index=['loan_type', 'loan_purpose'], columns = ['which_bank'], values='loan_amount', aggfunc='mean')

In [19]:
print(pivot_Mean_Loan)

which_bank              All Other Banks     BMO Harris   Bank of West
loan_type loan_purpose
1         1               613220.325070  305000.000000  799347.826087
          2               233899.082569  105000.000000  203947.368421
          4               346509.740260  176666.666667  280757.575758
          5               715909.090909            NaN            NaN
          31              464485.887097            NaN  588333.333333
          32              453644.141531  465000.000000  803500.000000
2         1               369032.258065            NaN            NaN
          2               380000.000000            NaN            NaN
          4               362142.857143            NaN            NaN
          31              323344.370861            NaN            NaN
          32              320129.310345            NaN            NaN
3         1               497132.196162            NaN            NaN
          2               642142.857143            NaN            NaN
          4               645000.000000            NaN            NaN
          31              380058.479532            NaN            NaN
          32              420260.545906            NaN            NaN
4         1               320862.068966            NaN            NaN
          31              228333.333333            NaN            NaN
          32              316666.666667            NaN            NaN