# Prep the datasets to use in analysis

1. Clean both HMDA and census datasets.
1. Reduce the HMDA loan-level file to a bank-tract dataset.
1. Merge the bank-tract dataset with the census data.

In [3]:
import os
import csv
import pandas as pd
import numpy as np

os.makedirs('../input_data_clean/',exist_ok=True)

## HMDA Cleaning

- Clean the var types
- Better variable values (replace loan type 1 with name)

In [4]:
#todo when complete, delete this comment and uncomment the if, indent everything below
# if not os.path.exists('../input_data_clean/state_AZ-CA_clean.csv'):

#todo load the WHOLE thing when code is set
hmda = pd.read_csv('../input_data/state_AZ-CA_mini.csv')
hmda = hmda.replace(["Exempt","1111","8888","9999","NA"], np.nan)  

hmda['simplified_applicant_age_above_62'] = hmda['applicant_age_above_62'].map({'Yes': 1, 'No': 0})
hmda.drop(columns = ['applicant_age_above_62'],inplace=True)

hmda['state_simplified'] = hmda['state_code'].map({'AZ': 1, 'CA': 0})

In [5]:
hmda['loan_to_value_ratio'].describe()

count     33110
unique    15598
top        80.0
freq       2489
Name: loan_to_value_ratio, dtype: object

In [6]:
hmda = hmda.astype({
    'loan_to_value_ratio': float,
    'rate_spread': float,
    'prepayment_penalty_term': float,
    'intro_rate_period': float,
    'property_value': float,
    'total_loan_costs': float,
    'total_points_and_fees': float,
    'origination_charges': float,
    'discount_points': float,
    'lender_credits': float,
    'loan_term': float,
    'prepayment_penalty_term': float
})

#todo ltv is float with bins for the tails? wtf?
#todo use the output report to continue cleaning
#todo when done, save it:

hmda.to_csv('../input_data_clean/state_AZ-CA_clean_MINI.csv',index=False)

# hmda.to_csv('../input_data_clean/state_AZ-CA_clean.csv',index=False)
# hmda.sample(50000).to_csv('../input_data_clean/state_AZ-CA_clean_MINI.csv',index=False)

#todo check that it works: load the mini file (read_csv) you just saved and look at it... ok? same index? no extra var?

Save a report on the dataset. This will be useful to refer back to later on.

In [7]:
# to rerun this, delete the file
if not os.path.exists("mini_HMDA_partial_clean.html"):
    #!pip install -U ydata-profiling 
    from ydata_profiling import ProfileReport
    profile = ProfileReport(hmda, title="HMDA after existing cleaning steps", minimal=True)
    profile.to_file("mini_HMDA_partial_clean.html")
    
# todo after more cleaning... output to outputs/HMDA_profile_report.html instead

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

## Census cleaning

1. Rename the variables into something usable.
1. Prepare a `census_tract` variable we can merge with the HMDA data.

In [8]:
# this csv: col1 is census var ID name, col2 is the name we are using
# we are importing this into a dictionary bc pandas rename() wants that structure
rename_dict ={}
with open('../input_data/census_vars.csv') as f:
    for row in csv.reader(f):
        rename_dict[row[0]] = row[1]

In [11]:
#todo when the below is done
# if not os.path.exists('../input_data_clean/census_clean.csv'):

#todo verifying the merge steps with juan...
census = (
        pd.read_csv('../input_data/census.csv')
        # are we sure? these are adding the #s... don't you mean to concatenate them as strings?
        .assign(census_tract = lambda x: x["state"] + x["county"] + x["tract"])
        .rename(columns = rename_dict)
        # .drop(columns = ["state", "county", "tract"])
        #.to_csv('../input_data_clean/census_clean_sampel.csv',index=False)
)

#todo are these necessary?   depends on above
# census_clean["census_tract"] = census_clean["census_tract"].astype(str)
# census_clean["census_tract"] = census_clean["census_tract"].str.lstrip('0')
# census_clean["census_tract"] = census_clean["census_tract"].astype(int)

In [54]:
def census_concat(row):
    state  = str(row['state']) .zfill(2)
    county = str(row['county']) .zfill(3)
    tract  = str(row['tract']) .zfill(6)
    return int(state+county+tract)

census['census_tract'] = census.apply(census_concat, axis=1)
census[['census_tract','state','county','tract']].sample(50)

      census_tract  state  county   tract
569     6013353002      6      13  353002
9569    4027011403      4      27   11403
4251    6059087805      6      59   87805
2053    6037269906      6      37  269906
5123    6067007503      6      67    7503
5064    6067006201      6      67    6201
452     6013304002      6      13  304002
8534    4013112302      4      13  112302
4652    6065042408      6      65   42408
5398    6071002105      6      71    2105
6404    6075026002      6      75   26002
7728    6103000600      6     103     600
1542    6037183701      6      37  183701
3800    6055201102      6      55  201102
8391    4013104205      4      13  104205
3929    6059032012      6      59   32012
3245    6037651002      6      37  651002
839     6019005701      6      19    5701
5570    6071009712      6      71    9712
7054    6085504318      6      85  504318
1821    6037218220      6      37  218220
7716    6101050604      6     101   50604
6775    6081608900      6      81  608900
6935    6085501102      6      85  501102
3454    6037920102      6      37  920102
6340    6075016400      6      75   16400
3312    6037702600      6      37  702600
7137    6085507100      6      85  507100
2022    6037265410      6      37  265410
3582    6041125000      6      41  125000
980     6029000700      6      29     700
4954    6065941100      6      65  941100
4277    6059088802      6      59   88802
7817    6109001100      6     109    1100
4706    6065042742      6      65   42742
1997    6037261200      6      37  261200
3623    6047000201      6      47     201
4151    6059074902      6      59   74902
1069    6029004200      6      29    4200
5810    6073008329      6      73    8329
9125    4015953900      4      15  953900
4708    6065042744      6      65   42744
7764    6107001601      6     107    1601
8486    4013109300      4      13  109300
734     6019002601      6      19    2601
5485    6071005500      6      71    5500
3812    6055202000      6      55  202000
5245    6067009406      6      67    9406
6674    6079013000      6      79   13000
4523    6065031001      6      65   31001

In [55]:
census['census_tract'].count()

9583

In [56]:
census['census_tract'].nunique() # count = 9583, nunqiue = 9140

9583

In [58]:
census.to_csv('../input_data_clean/census_clean.csv',index=False)

## Reduce the loan-level HMDA dataset to a Bank-Tract level dataset

First, create variables we need before the aggregation step.

In [65]:
#todo if not os.path.exists('../input_data_clean/bank_tract.csv'):

#todo when all good, redo this with FULL
hmda = pd.read_csv('../input_data/state_AZ-CA_mini.csv')

# 5 incomplete app
# 6 purchased loan 
# 7 is preapproval request denied              todo treat as app and deny?
# 8 preapproval approved but not accepted      todo treat as app and approve? change def below

hmda['approved'] = (hmda['action_taken'] == 2) | (hmda['action_taken'] == 1) 

hmda['application'] = (hmda['action_taken'] < 4 ) 

def lei_map(lei):
    if lei == 'QOT5WN9RBKQTFRVKEV31':
        return 'Bank of West'
    elif lei == '3Y4U8VZURTYWI1W2K376':
        return 'BMO Harris'
    elif lei == np.nan:
        return np.nan
    else: 
        return 'All Other Banks'

hmda['which_bank'] = hmda['lei'].map(lei_map)
print(hmda.sample(50))

       activity_year                   lei  derived_msa-md state_code  \
31158           2021  549300HW662MN1WU8550           41940         CA
46818           2021  549300FGXN1K3HLB1R50           25260         CA
40772           2021  549300FGXN1K3HLB1R50           47300         CA
45960           2021  E57ODZWZ7FF32TWEFA76           41884         CA
49186           2021  KB1H1DSPRFMYMCUFXT09           38060         AZ
27398           2021  PAOOWF3GUFM46FBSP561           31084         CA
19682           2021  54930021WPEXNHYZUL09           99999         CA
5249            2021  549300HW662MN1WU8550           40140         CA
10651           2021  549300H3IZO24NSOO931           40140         CA
37542           2021  549300R4F5COFJE0DN81           31084         CA
42051           2021  KB1H1DSPRFMYMCUFXT09           41884         CA
23473           2021  549300LYRWPSYPK6S325           41940         CA
9453            2021  549300WJIJV987NXVC31           33700         CA
23478           2021  549300HW662MN1WU8550           41740         CA
18002           2021  549300SVLCM6NZQ53P14           38060         AZ
46584           2021  549300FGXN1K3HLB1R50           11244         CA
22448           2021  FU7RSW4CQQY98A2O7J66           38060         AZ
6507            2021  549300YIQ7S7Z8PIHE53           42100         CA
36188           2021  549300FX7K8PTEQUU487           40140         CA
46162           2021  549300AG64NHILB7ZP05           29420         AZ
43437           2021  C5654JQHZUHN0772B561           40140         CA
2398            2021  549300LBCBNR1OT00651           11244         CA
46998           2021  549300HW662MN1WU8550           39150         AZ
15729           2021  B4TYDEB6GKMZO031MB27           40140         CA
36646           2021  B4TYDEB6GKMZO031MB27           36084         CA
40467           2021  SS1TRMSN6BRNMOREEV51           49740         AZ
13733           2021  549300LYRWPSYPK6S325           46700         CA
29848           2021  RVDPPPGHCGZ40J4VQ731           38060         AZ
38505           2021  549300J7I82PNDVU8H22           31084         CA
26570           2021  549300LYRWPSYPK6S325           38060         AZ
9132            2021  549300LYRWPSYPK6S325           40140         CA
16878           2021  7H6GLXDRUGQFU57RNE97           37100         CA
26769           2021  6BYL5QZYBDK8S7L73M02           40900         CA
18010           2021  549300OPB0G5OMY0SM65               0         CA
24569           2021  549300E2UX99HKDBR481           29420         AZ
27707           2021  549300FVD3YHE65PKH97           49740         AZ
11756           2021  549300J7XKT2BI5WX213           38060         AZ
38877           2021  B4TYDEB6GKMZO031MB27           11244         CA
8267            2021  549300JRSBCJN2HPK893           31084         CA
1992            2021  OX3PU53ZLPQKJ4700D47           41740         CA
17099           2021  54930001NSTOD85LT125           41940         CA
44487           2021  5493005JPZ3LXXMB0S24           38060         AZ
14826           2021  549300FGXN1K3HLB1R50           25260         CA
6527            2021  549300FGXN1K3HLB1R50           40140         CA
31638           2021  549300HW662MN1WU8550           40140         CA
935             2021  549300FGXN1K3HLB1R50           42020         CA
8985            2021  54930001NSTOD85LT125           41884         CA
22712           2021  549300HW662MN1WU8550           41740         CA
43167           2021  5493008VVXQIDO1EZ460           46060         AZ
22009           2021  549300YIQ7S7Z8PIHE53           38060         AZ

       county_code  census_tract conforming_loan_limit  \
31158       6085.0  6.085504e+09                     C
46818       6031.0  6.031001e+09                     C
40772       6107.0  6.107004e+09                     C
45960       6075.0  6.075062e+09                    NC
49186       4013.0  4.013618e+09                     C
27398       6037.0  6.037911e+09                     C
19682       6023.0  6.023001e+09                     C
5249        6065.0  6.065045e+09                     C
10651       6065.0  6.065040e+09                     C
37542       6037.0  6.037553e+09                     C
42051       6081.0  6.081605e+09                    NC
23473       6069.0  6.069001e+09                     C
9453        6099.0  6.099000e+09                     C
23478       6073.0  6.073003e+09                     C
18002       4013.0  4.013217e+09                     C
46584       6059.0  6.059042e+09                     C
22448       4013.0  4.013217e+09                     C
6507        6087.0  6.087100e+09                     C
36188       6065.0  6.065045e+09                     C
46162       4015.0  4.015953e+09                     C
43437       6071.0  6.071012e+09                     C
2398        6059.0  6.059089e+09                     C
46998       4025.0  4.025001e+09                     C
15729       6071.0  6.071000e+09                    NC
36646       6013.0  6.013355e+09                    NC
40467       4027.0  4.027011e+09                     C
13733       6095.0  6.095252e+09                     C
29848       4013.0  4.013617e+09                     C
38505       6037.0  6.037121e+09                     C
26570       4013.0  4.013110e+09                     C
9132        6071.0  6.071003e+09                     C
16878       6111.0  6.111006e+09                     C
26769       6061.0  6.061021e+09                     C
18010          NaN           NaN                     C
24569       4015.0  4.015952e+09                     C
27707       4027.0  4.027001e+09                     C
11756       4013.0  4.013811e+09                     C
38877       6059.0  6.059100e+09                     C
8267        6037.0  6.037121e+09                     C
1992        6073.0  6.073017e+09                    NC
17099       6085.0  6.085502e+09                     C
44487       4013.0  4.013812e+09                     C
14826       6031.0  6.031000e+09                     C
6527        6065.0  6.065045e+09                     C
31638       6065.0  6.065043e+09                     C
935         6079.0  6.079011e+09                    NC
8985        6081.0  6.081608e+09                    NC
22712       6073.0  6.073008e+09                    NC
43167       4019.0  4.019004e+09                     C
22009       4013.0  4.013217e+09                     C

           derived_loan_product_type               derived_dwelling_category  \
31158        Conventional:First Lien    Single Family (1-4 Units):Site-Built
46818        Conventional:First Lien    Single Family (1-4 Units):Site-Built
40772        Conventional:First Lien    Single Family (1-4 Units):Site-Built
45960        Conventional:First Lien    Single Family (1-4 Units):Site-Built
49186        Conventional:First Lien    Single Family (1-4 Units):Site-Built
27398        Conventional:First Lien    Single Family (1-4 Units):Site-Built
19682                  VA:First Lien    Single Family (1-4 Units):Site-Built
5249         Conventional:First Lien    Single Family (1-4 Units):Site-Built
10651        Conventional:First Lien    Single Family (1-4 Units):Site-Built
37542        Conventional:First Lien    Single Family (1-4 Units):Site-Built
42051        Conventional:First Lien    Single Family (1-4 Units):Site-Built
23473                 FHA:First Lien    Single Family (1-4 Units):Site-Built
9453         Conventional:First Lien    Single Family (1-4 Units):Site-Built
23478        Conventional:First Lien    Single Family (1-4 Units):Site-Built
18002        Conventional:First Lien    Single Family (1-4 Units):Site-Built
46584        Conventional:First Lien    Single Family (1-4 Units):Site-Built
22448                 FHA:First Lien    Single Family (1-4 Units):Site-Built
6507         Conventional:First Lien    Single Family (1-4 Units):Site-Built
36188  Conventional:Subordinate Lien    Single Family (1-4 Units):Site-Built
46162        Conventional:First Lien    Single Family (1-4 Units):Site-Built
43437                  VA:First Lien    Single Family (1-4 Units):Site-Built
2398         Conventional:First Lien    Single Family (1-4 Units):Site-Built
46998        Conventional:First Lien    Single Family (1-4 Units):Site-Built
15729        Conventional:First Lien    Single Family (1-4 Units):Site-Built
36646        Conventional:First Lien    Single Family (1-4 Units):Site-Built
40467        Conventional:First Lien    Single Family (1-4 Units):Site-Built
13733                  VA:First Lien    Single Family (1-4 Units):Site-Built
29848        Conventional:First Lien    Single Family (1-4 Units):Site-Built
38505        Conventional:First Lien    Single Family (1-4 Units):Site-Built
26570                 FHA:First Lien    Single Family (1-4 Units):Site-Built
9132         Conventional:First Lien    Single Family (1-4 Units):Site-Built
16878        Conventional:First Lien    Single Family (1-4 Units):Site-Built
26769        Conventional:First Lien    Single Family (1-4 Units):Site-Built
18010        Conventional:First Lien    Single Family (1-4 Units):Site-Built
24569                  VA:First Lien  Single Family (1-4 Units):Manufactured
27707                 FHA:First Lien    Single Family (1-4 Units):Site-Built
11756        Conventional:First Lien    Single Family (1-4 Units):Site-Built
38877        Conventional:First Lien    Single Family (1-4 Units):Site-Built
8267         Conventional:First Lien    Single Family (1-4 Units):Site-Built
1992         Conventional:First Lien    Single Family (1-4 Units):Site-Built
17099        Conventional:First Lien    Single Family (1-4 Units):Site-Built
44487        Conventional:First Lien    Single Family (1-4 Units):Site-Built
14826        Conventional:First Lien    Single Family (1-4 Units):Site-Built
6527                  FHA:First Lien    Single Family (1-4 Units):Site-Built
31638        Conventional:First Lien    Single Family (1-4 Units):Site-Built
935                    VA:First Lien    Single Family (1-4 Units):Site-Built
8985         Conventional:First Lien    Single Family (1-4 Units):Site-Built
22712        Conventional:First Lien    Single Family (1-4 Units):Site-Built
43167                  VA:First Lien    Single Family (1-4 Units):Site-Built
22009        Conventional:First Lien    Single Family (1-4 Units):Site-Built

             derived_ethnicity  ... tract_population  \
31158   Not Hispanic or Latino  ...             6931
46818  Ethnicity Not Available  ...             4881
40772  Ethnicity Not Available  ...            11256
45960   Not Hispanic or Latino  ...            12511
49186   Not Hispanic or Latino  ...             3825
27398       Hispanic or Latino  ...             4111
19682  Ethnicity Not Available  ...             5365
5249    Not Hispanic or Latino  ...             5157
10651   Not Hispanic or Latino  ...             4504
37542   Not Hispanic or Latino  ...             7080
42051   Not Hispanic or Latino  ...             5617
23473       Hispanic or Latino  ...             6790
9453    Not Hispanic or Latino  ...             7455
23478  Ethnicity Not Available  ...             7219
18002   Not Hispanic or Latino  ...             5054
46584   Not Hispanic or Latino  ...             7369
22448   Not Hispanic or Latino  ...             4531
6507    Not Hispanic or Latino  ...             6734
36188  Ethnicity Not Available  ...             3324
46162   Not Hispanic or Latino  ...             6139
43437   Not Hispanic or Latino  ...             6046
2398   Ethnicity Not Available  ...             6151
46998   Not Hispanic or Latino  ...             4289
15729   Not Hispanic or Latino  ...             6081
36646   Not Hispanic or Latino  ...             7492
40467   Not Hispanic or Latino  ...             5625
13733  Ethnicity Not Available  ...             7363
29848   Not Hispanic or Latino  ...             7297
38505       Hispanic or Latino  ...             4674
26570       Hispanic or Latino  ...             6298
9132        Hispanic or Latino  ...             8485
16878   Not Hispanic or Latino  ...             6509
26769  Ethnicity Not Available  ...             6695
18010   Not Hispanic or Latino  ...                0
24569   Not Hispanic or Latino  ...             4322
27707       Hispanic or Latino  ...             8048
11756   Not Hispanic or Latino  ...             5387
38877  Ethnicity Not Available  ...             4888
8267    Not Hispanic or Latino  ...             3740
1992    Not Hispanic or Latino  ...             6297
17099   Not Hispanic or Latino  ...             3354
44487   Not Hispanic or Latino  ...             7989
14826  Ethnicity Not Available  ...             3058
6527    Not Hispanic or Latino  ...             5396
31638       Hispanic or Latino  ...             7165
935    Ethnicity Not Available  ...             2758
8985    Not Hispanic or Latino  ...             3416
22712       Hispanic or Latino  ...             3898
43167  Ethnicity Not Available  ...             5426
22009  Ethnicity Not Available  ...             6662

      tract_minority_population_percent  ffiec_msa_md_median_family_income  \
31158                             93.87                             148700
46818                             76.15                              65800
40772                             65.73                              57900
45960                             50.50                             145400
49186                             35.06                              79000
27398                             92.17                              80000
19682                             24.19                              69700
5249                              57.44                              77500
10651                             76.84                              77500
37542                             86.54                              80000
42051                             39.84                             145400
23473                             83.08                             148700
9453                              34.29                              68900
23478                             73.74                              95100
18002                             16.36                              79000
46584                             17.91                             106700
22448                             12.78                              79000
6507                              22.48                             111900
36188                             42.27                              77500
46162                             17.80                              55700
43437                             65.18                              77500
2398                              88.44                             106700
46998                             12.85                              63800
15729                             77.41                              77500
36646                             80.65                             125600
40467                             36.43                              51400
13733                             64.50                              99300
29848                             11.37                              79000
38505                             74.05                              80000
26570                             94.73                              79000
9132                              84.97                              77500
16878                             22.43                              98800
26769                             42.24                              90900
18010                              0.00                                  0
24569                             27.90                              55700
27707                             86.43                              51400
11756                             27.45                              79000
38877                             28.23                             106700
8267                              72.49                              80000
1992                              31.00                              95100
17099                             37.60                             148700
44487                             37.88                              79000
14826                             42.67                              65800
6527                              50.52                              77500
31638                             49.45                              77500
935                               15.08                              97800
8985                              58.52                             145400
22712                             12.54                              95100
43167                             37.85                              68600
22009                              8.77                              79000

       tract_to_msa_income_percentage  tract_owner_occupied_units  \
31158                              64                         814
46818                              72                         442
40772                             136                        2277
45960                             165                        2729
49186                              77                        1004
27398                              72                         516
19682                             139                        1145
5249                               79                        1505
10651                              99                         729
37542                             101                        1382
42051                             112                        1053
23473                              73                        1053
9453                               90                        1238
23478                              70                         997
18002                             107                         997
46584                             123                        2416
22448                             134                        1841
6507                              137                        1085
36188                              94                         590
46162                             128                        2042
43437                             110                        1140
2398                               59                         823
46998                             132                        1316
15729                             167                        1372
36646                             214                        1682
40467                             196                        1241
13733                             146                        1440
29848                              94                        2658
38505                              86                         954
26570                              32                         724
9132                               80                        1377
16878                             157                        1661
26769                              71                        1314
18010                               0                           0
24569                              81                         906
27707                             118                        1464
11756                             149                        1476
38877                             166                        1919
8267                              100                         456
1992                              132                        1083
17099                             119                         783
44487                             166                        1532
14826                             156                         570
6527                              150                        1400
31638                             139                        1265
935                                96                         889

In [ ]:
#todo Other variables to add:

# $ of loans approved 
#     Create a new var = $loan if approved, na else; groupby will ignore na's while adding
# creating new variable "$loan if approved"
hmda['$loan if approved'] = pd.np.nan

# Iterate over the hmda DataFrame
for index, row in hmda.iterrows():
    # Check if the firm has a value for leverage
    if row['action_taken'] == 3:
        pd.notnull(row['leverage']):
        
        # If the firm has a value for leverage, check if it is above the industry median
        if row['leverage'] > row['ind_med_lev']:
            minifirms_df.at[index, 'high_leverage'] = 1
        else:
            minifirms_df.at[index, 'high_leverage'] = 0



# avg LTV (of all? or only of approved? < probably the latter)
    # if all, just add to groupby below. If approved, repeat the trick from above for creating $ of loans approved 

    
# avg spread (of all? or only of approved? < probably the latter)


# avg rate (of all? or only of approved? < probably the latter)


# avg loan size (of all? or only of approved? < probably the latter)

Second, aggregate by area:

In [ ]:
bank_tract = hmda.groupby(['which_bank','census_tract']).agg(
    {'approved': 'sum', 
     'application': 'sum', 
     'loan_amount': 'sum',
     'rate_spread' : 'sum'.
     'income': 'median'}
)

# now, add denial rate and approval rate

# bank_tract.to_csv('../input_data_clean/bank_tract.csv',index=False)

# count apps and denials for each prod? for each purpose? for each combo?

## Merge the bank-tract data with the census tract level info

In [ ]:

#todo, awaiting better 

failllll

#todo try on hmda mini, then hmda full...

#todo if not os.path.exists('../input_data_clean/bank_tract_clean_WITH_CENSUS.csv'):
(
    pd.read_csv('../input_data_clean/census_clean.csv')
    .merge(pd.read_csv('../input_data_clean/hmda_clean.csv'),
           on = "census_tract", 
           how = "inner",
           validate = "1:M")
    .to_csv('../input_data_clean/bank_tract_clean_WITH_CENSUS.csv')
)