In [2]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
pd.set_option('display.max_colwidth', None)
from statsmodels.iolib.summary2 import summary_col

In [3]:
import warnings
# Ignore warnings by category
warnings.filterwarnings("ignore", category=DeprecationWarning)
# Ignore warnings by message
warnings.filterwarnings("ignore", message=".*")

In [4]:
df = pd.read_csv("../input_data_clean/bank_tract_clean_WITH_CENSUS.csv")
df['which_bank'] = df['which_bank'].str.replace(' ', '')

In [5]:
# Calculate the hispanic rate and whether it's above the median
df['hisp_rate'] = (df['HispanicLatinoPop'] / df['Tot.Pop']) * 100
df['hisp_over_med'] = df['hisp_rate'] > np.median(df['hisp_rate'].dropna())
df['hisp_over_med'] = df['hisp_over_med'].astype(int)

# Calculate the log of number of applications
df['log_num_apps'] = np.log(df['num_applications'])

## Linear Regression With Interaction Terms - CA & AZ

In [13]:
# Build initial models
# Fit the linear regression models
model1 = smf.ols('denial_rate ~ hisp_rate * which_bank + median_all_income', data=df).fit()
model2 = smf.ols('denial_rate ~ hisp_over_med * which_bank + median_all_income', data=df).fit()
model3 = smf.ols('log_num_apps ~ hisp_rate * which_bank + median_all_income', data=df).fit()
model4 = smf.ols('log_num_apps ~ hisp_over_med * which_bank + median_all_income', data=df).fit()


# Create a summary table of the regression models
table = summary_col([model1, model2, model3, model4],
                    model_names=['Model 1', 'Model 2', 'Model 3', 'Model 4'],
                    float_format='%.5f',
                    stars=True,
                    info_dict={'N': lambda x: "{0:d}".format(int(x.nobs)),
                               'R2': lambda x: "{:.2f}".format(x.rsquared)})

# Rename the table columns
table.columns = ['Dep. Variable', 'Model 1', 'Model 2', 'Model 3', 'Model 4']

# Display the table
print(table)

======================================================================================
                                         Model 1     Model 2     Model 3     Model 4
--------------------------------------------------------------------------------------
Intercept                              0.87010***  0.85632***  4.35621***  4.11517***
                                       (0.00280)   (0.00238)   (0.01426)   (0.01260)
R-squared                              0.05296     0.04529     0.75889     0.73870
R-squared Adj.                         0.05267     0.04500     0.75882     0.73862
hisp_over_med                                      -0.04963***             -0.48278***
                                                   (0.00316)               (0.01669)
hisp_over_med:which_bank[T.BankofWest]             0.07198***              0.13091***
                                                   (0.00574)               (0.03039)
hisp_rate                              -0.00109***             -0.01331***
                                       (0.00006)               (0.00031)
hisp_rate:which_bank[T.BankofWest]     0.00185***              0.00367***
                                       (0.00012)               (0.00062)
median_all_income                      0.00001**   0.00001**   -0.00006*** -0.00002
                                       (0.00000)   (0.00000)   (0.00002)   (0.00002)
which_bank[T.BankofWest]               -0.11679*** -0.09015*** -3.09337*** -2.99485***
                                       (0.00475)   (0.00387)   (0.02425)   (0.02046)
N                                      13433       13435       13433       13435
R2                                     0.05        0.05        0.76        0.74
======================================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

In [14]:
# Build initial models
# Fit the linear regression models
model1 = smf.ols('denial_rate ~ hisp_rate * which_bank + median_all_income + mean_LTV', data=df).fit()
model2 = smf.ols('denial_rate ~ hisp_over_med * which_bank + median_all_income + mean_LTV', data=df).fit()
model3 = smf.ols('log_num_apps ~ hisp_rate * which_bank + median_all_income + mean_LTV', data=df).fit()
model4 = smf.ols('log_num_apps ~ hisp_over_med * which_bank + median_all_income + mean_LTV', data=df).fit()


# Create a summary table of the regression models
table = summary_col([model1, model2, model3, model4],
                    model_names=['Model 1', 'Model 2', 'Model 3', 'Model 4'],
                    float_format='%.5f',
                    stars=True,
                    info_dict={'N': lambda x: "{0:d}".format(int(x.nobs)),
                               'R2': lambda x: "{:.2f}".format(x.rsquared)})

# Rename the table columns
table.columns = ['Dep. Variable', 'Model 1', 'Model 2', 'Model 3', 'Model 4']

# Display the table
print(table)

======================================================================================
                                         Model 1     Model 2     Model 3     Model 4
--------------------------------------------------------------------------------------
Intercept                              0.88560***  0.87371***  4.25579***  4.05566***
                                       (0.00492)   (0.00479)   (0.02512)   (0.02535)
R-squared                              0.05392     0.04655     0.75938     0.73895
R-squared Adj.                         0.05357     0.04620     0.75929     0.73885
hisp_over_med                                      -0.04756***             -0.48907***
                                                   (0.00319)               (0.01687)
hisp_over_med:which_bank[T.BankofWest]             0.07024***              0.13601***
                                                   (0.00575)               (0.03045)
hisp_rate                              -0.00105***             -0.01352***
                                       (0.00006)               (0.00031)
hisp_rate:which_bank[T.BankofWest]     0.00181***              0.00385***
                                       (0.00012)               (0.00062)
mean_LTV                               -0.00026*** -0.00028*** 0.00166***  0.00097***
                                       (0.00007)   (0.00007)   (0.00034)   (0.00036)
median_all_income                      0.00001**   0.00001**   -0.00005*** -0.00002
                                       (0.00000)   (0.00000)   (0.00002)   (0.00002)
which_bank[T.BankofWest]               -0.11691*** -0.09071*** -3.09169*** -2.99291***
                                       (0.00475)   (0.00387)   (0.02423)   (0.02047)
N                                      13432       13434       13432       13434
R2                                     0.05        0.05        0.76        0.74
======================================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

In [ ]:
# Build initial models
# Fit the linear regression models
model1 = smf.ols('denial_rate ~ hisp_rate * which_bank + median_all_income + mean_LTV', data=df).fit()
model2 = smf.ols('denial_rate ~ hisp_over_med * which_bank + median_all_income + mean_LTV', data=df).fit()
model3 = smf.ols('log_num_apps ~ hisp_rate * which_bank + median_all_income + mean_LTV', data=df).fit()
model4 = smf.ols('log_num_apps ~ hisp_over_med * which_bank + median_all_income + mean_LTV', data=df).fit()


# Create a summary table of the regression models
table = summary_col([model1, model2, model3, model4],
                    model_names=['Model 1', 'Model 2', 'Model 3', 'Model 4'],
                    float_format='%.5f',
                    stars=True,
                    info_dict={'N': lambda x: "{0:d}".format(int(x.nobs)),
                               'R2': lambda x: "{:.2f}".format(x.rsquared)})

# Rename the table columns
table.columns = ['Dep. Variable', 'Model 1', 'Model 2', 'Model 3', 'Model 4']

# Display the table
print(table)

In [15]:
# Calculate the black rate and whether it's above the median
df['black_rate'] = (df['BlackPop'] / df['Tot.Pop']) * 100
df['black_over_med'] = df['black_rate'] > np.median(df['black_rate'].dropna())
df['black_over_med'] = df['black_over_med'].astype(int)

In [16]:
model1 = smf.ols('denial_rate ~ black_rate * which_bank + median_all_income + mean_LTV', data=df).fit()
model2 = smf.ols('denial_rate ~ black_over_med * which_bank + median_all_income + mean_LTV', data=df).fit()
model3 = smf.ols('log_num_apps ~ black_rate * which_bank + median_all_income + mean_LTV', data=df).fit()
model4 = smf.ols('log_num_apps ~ black_over_med * which_bank + median_all_income + mean_LTV', data=df).fit()


# Create a summary table of the regression models
table = summary_col([model1, model2, model3, model4],
                    model_names=['Model 1', 'Model 2', 'Model 3', 'Model 4'],
                    float_format='%.5f',
                    stars=True,
                    info_dict={'N': lambda x: "{0:d}".format(int(x.nobs)),
                               'R2': lambda x: "{:.2f}".format(x.rsquared)})

# Rename the table columns
table.columns = ['Dep. Variable', 'Model 1', 'Model 2', 'Model 3', 'Model 4']

# Display the table
print(table)

=======================================================================================
                                          Model 1     Model 2     Model 3     Model 4
---------------------------------------------------------------------------------------
Intercept                               0.86441***  0.86299***  3.93252***  3.91428***
                                        (0.00478)   (0.00487)   (0.02590)   (0.02645)
R-squared                               0.03365     0.03070     0.72236     0.72059
R-squared Adj.                          0.03329     0.03034     0.72225     0.72048
black_over_med                                      -0.01365***             -0.07036***
                                                    (0.00318)               (0.01726)
black_over_med:which_bank[T.BankofWest]             0.02340***              -0.12820***
                                                    (0.00574)               (0.03117)
black_rate                              -0.00154***             -0.00966***
                                        (0.00019)               (0.00106)
black_rate:which_bank[T.BankofWest]     0.00187***              -0.00218
                                        (0.00037)               (0.00203)
mean_LTV                                -0.00040*** -0.00040*** -0.00043    -0.00042
                                        (0.00007)   (0.00007)   (0.00037)   (0.00037)
median_all_income                       0.00001***  0.00001***  0.00004*    0.00004*
                                        (0.00000)   (0.00000)   (0.00002)   (0.00002)
which_bank[T.BankofWest]                -0.06682*** -0.06836*** -2.89033*** -2.83755***
                                        (0.00342)   (0.00397)   (0.01857)   (0.02156)
N                                       13432       13434       13432       13434
R2                                      0.03        0.03        0.72        0.72
=======================================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

In [19]:
# Calculate the white rate and whether it's above the median
df['white_rate'] = (df['WhitePop'] / df['Tot.Pop']) * 100
df['white_over_med'] = df['white_rate'] > np.median(df['white_rate'].dropna())
df['white_over_med'] = df['white_over_med'].astype(int)

In [18]:
model1 = smf.ols('denial_rate ~ white_rate * which_bank + median_all_income + mean_LTV', data=df).fit()
model2 = smf.ols('denial_rate ~ white_over_med * which_bank + median_all_income + mean_LTV', data=df).fit()
model3 = smf.ols('log_num_apps ~ white_rate * which_bank + median_all_income + mean_LTV', data=df).fit()
model4 = smf.ols('log_num_apps ~ white_over_med * which_bank + median_all_income + mean_LTV', data=df).fit()


# Create a summary table of the regression models
table = summary_col([model1, model2, model3, model4],
                    model_names=['Model 1', 'Model 2', 'Model 3', 'Model 4'],
                    float_format='%.5f',
                    stars=True,
                    info_dict={'N': lambda x: "{0:d}".format(int(x.nobs)),
                               'R2': lambda x: "{:.2f}".format(x.rsquared)})

# Rename the table columns
table.columns = ['Dep. Variable', 'Model 1', 'Model 2', 'Model 3', 'Model 4']

# Display the table
print(table)

=======================================================================================
                                          Model 1     Model 2     Model 3     Model 4
---------------------------------------------------------------------------------------
Intercept                               0.85096***  0.85561***  3.32782***  3.75213***
                                        (0.00645)   (0.00488)   (0.03434)   (0.02619)
R-squared                               0.02952     0.02920     0.73132     0.72733
R-squared Adj.                          0.02916     0.02883     0.73122     0.72723
mean_LTV                                -0.00044*** -0.00043*** -0.00134*** -0.00109***
                                        (0.00007)   (0.00007)   (0.00036)   (0.00036)
median_all_income                       0.00001***  0.00001***  0.00004*    0.00004**
                                        (0.00000)   (0.00000)   (0.00002)   (0.00002)
which_bank[T.BankofWest]                -0.06490*** -0.05484*** -2.37853*** -2.77143***
                                        (0.00894)   (0.00406)   (0.04758)   (0.02177)
white_over_med                                      0.00421                 0.33826***
                                                    (0.00317)               (0.01700)
white_over_med:which_bank[T.BankofWest]             -0.00449                -0.24697***
                                                    (0.00572)               (0.03068)
white_rate                              0.00011                 0.00960***
                                        (0.00008)               (0.00040)
white_rate:which_bank[T.BankofWest]     0.00013                 -0.00814***
                                        (0.00013)               (0.00071)
N                                       13432       13434       13432       13434
R2                                      0.03        0.03        0.73        0.73
=======================================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01