In [2]:
import os
import csv
import pandas as pd
import numpy as np

In [3]:
hmda = pd.read_csv('../input_data_clean/bank_tract_clean_WITH_CENSUS.csv')

In [6]:
hmda.describe(include='all')

,NAME,Tot.Pop,Tot.WhitePop,Tot.BlackPop,Tot.AmericIndianPop,Tot.AsianPop,Tot.NativeHawaiianPacificPop,Tot.OtherRaceAlonePop,Tot.TwoOrMoreRace,Tot.TwoOrMoreRace(Some other race),...,sum_approved_loans,mean_LTV,mean_approved_rate_spread,mean_approved_interest_rate,num_approved_loans,num_applications,sum_all_loan_amount,median_all_income,denial_rate,avg_approved_loan_size
count,13837,13837.000000,13837.000000,13837.000000,13837.000000,13837.000000,13837.000000,13837.000000,13837.000000,13837.000000,...,1.383700e+04,13833.000000,13249.000000,13837.000000,13837.000000,13837.000000,1.383700e+04,13435.000000,13837.000000,1.383700e+04
unique,9340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,"Census Tract 4001, Alameda County, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,5002.782250,3127.567464,267.177062,45.677965,698.570283,18.599624,602.436077,242.753776,50.854448,...,1.781060e+07,63.655351,0.356823,3.144830,37.488328,44.738094,2.057061e+07,153.556085,0.819544,4.825314e+05
std,NaN,2252.169347,1705.709508,420.666721,114.805245,991.409357,54.647210,747.692894,202.612442,68.023938,...,2.830304e+07,19.763747,0.377184,0.444966,46.537278,54.436187,3.199159e+07,327.767463,0.156248,9.985875e+05
min,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.500000e+04,2.884700,-1.206333,1.583000,1.000000,1.000000,1.500000e+04,0.000000,0.142857,1.500000e+04
25%,NaN,3546.000000,1937.000000,38.000000,0.000000,113.000000,0.000000,109.000000,107.000000,6.000000,...,1.225000e+06,55.788607,0.160000,2.928137,3.000000,4.000000,1.690000e+06,84.000000,0.756098,2.550000e+05
50%,NaN,4697.000000,2887.000000,121.000000,16.000000,345.000000,0.000000,316.000000,197.000000,30.000000,...,9.125000e+06,64.124411,0.295000,3.031250,25.000000,31.000000,1.104000e+07,114.000000,0.845528,3.794681e+05
75%,NaN,6022.000000,4000.000000,317.000000,50.000000,846.000000,12.000000,813.000000,323.000000,69.000000,...,2.310000e+07,72.347100,0.474735,3.187483,55.000000,66.000000,2.679500e+07,170.000000,0.922078,5.339017e+05
max,NaN,31118.000000,17778.000000,5801.000000,4259.000000,13013.000000,838.000000,7961.000000,2718.000000,806.000000,...,6.387400e+08,1815.708527,4.011731,7.675000,836.000000,964.000000,8.277450e+08,33827.000000,1.000000,5.524500e+07

In [7]:
df = pd.read_csv('../input_data_clean/state_AZ-CA_clean.csv')

C:\Users\twsca\AppData\Local\Temp\ipykernel_24184\3116927081.py:1: DtypeWarning: Columns (50,51,55,56,64,65,68,69,70,88,89) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../input_data_clean/state_AZ-CA_clean.csv')

In [ ]:
df.describe(include='all')