In [2]:
import os
import csv
import pandas as pd

In [3]:
hmda = pd.read_csv('../input_data/state_AZ-CA_mini.csv')

In [4]:
hmda['accept'] = (hmda['action_taken'] == 2) | (hmda['action_taken'] == 6)

In [5]:
def hmda_bank(row):
  if row['lei'] == 'QOT5WN9RBKQTFRVKEV31':
    hmda_bank = 'Bank of West'
  elif row['lei'] == '3Y4U8VZURTYWI1W2K376':
    hmda_bank = 'BMO Harris'
  else: 
    hmda_bank = 'All Other Banks'
  return hmda_bank

In [6]:
hmda['which_bank'] = hmda.apply(hmda_bank,axis=1)
hmda['which_bank'].value_counts()

All Other Banks    49721
Bank of West         235
BMO Harris            44
Name: which_bank, dtype: int64

In [7]:
hmda['received'] = (hmda['action_taken'] == 1) | (hmda['action_taken'] == 2) | (hmda['action_taken'] == 3) | (hmda['action_taken'] == 4) | (hmda['action_taken'] == 5) | (hmda['action_taken'] == 6)

In [17]:
pivot_sum_Loan = hmda.pivot_table(index=['loan_type', 'loan_purpose'], columns = ['which_bank'], values='loan_amount', aggfunc='sum')

In [18]:
print(pivot_sum_Loan)

which_bank              All Other Banks  BMO Harris  Bank of West
loan_type loan_purpose
1         1                5.698250e+09   4735000.0    23720000.0
          2                3.188950e+08   1135000.0     6440000.0
          4                3.834250e+08   2205000.0    14815000.0
          5                1.354000e+07         NaN           NaN
          31               8.465585e+09   2230000.0    41860000.0
          32               4.899080e+09   3615000.0    21915000.0
2         1                5.909850e+08         NaN           NaN
          2                3.670000e+06         NaN           NaN
          4                9.365000e+06         NaN           NaN
          5                1.367000e+07         NaN           NaN
          31               4.824800e+08         NaN           NaN
          32               1.818400e+08         NaN           NaN
3         1                3.751650e+08         NaN           NaN
          2                5.170000e+06         NaN           NaN
          4                3.250000e+06         NaN           NaN
          5                1.575000e+06         NaN           NaN
          31               6.685350e+08         NaN      485000.0
          32               3.651150e+08         NaN           NaN
4         1                1.905500e+07         NaN           NaN
          5                9.500000e+04         NaN           NaN
          31               5.125000e+06         NaN           NaN
          32               2.305000e+06         NaN           NaN

In [25]:
filtered_df = hmda[(hmda['action_taken'] == 2) | (hmda['action_taken'] == 6)]
pivot_Mean_Loan = filtered_df.pivot_table(index=['loan_type', 'loan_purpose'], columns = ['which_bank'], values='loan_amount', aggfunc='mean')
print(pivot_Mean_Loan)

which_bank              All Other Banks  BMO Harris   Bank of West
loan_type loan_purpose
1         1               513356.772761    865000.0  318333.333333
          2               151119.402985         NaN            NaN
          4               151521.739130         NaN            NaN
          5               178809.523810         NaN            NaN
          31              438611.369991   1115000.0  203571.428571
          32              396270.588235         NaN  295000.000000
2         1               335776.892430         NaN            NaN
          2               245000.000000         NaN            NaN
          4               330000.000000         NaN            NaN
          5               201029.411765         NaN            NaN
          31              321887.755102         NaN            NaN
          32              317325.581395         NaN            NaN
3         1               441787.878788         NaN            NaN
          4               465000.000000         NaN            NaN
          5               225000.000000         NaN            NaN
          31              406493.775934         NaN  485000.000000
          32              430740.740741         NaN            NaN
4         1               194259.259259         NaN            NaN
          5                95000.000000         NaN            NaN
          31              220000.000000         NaN            NaN

In [28]:
filtered_df = hmda[(hmda['action_taken'] == 2) | (hmda['action_taken'] == 6)]
pivot_sum_loan = filtered_df.pivot_table(index=['loan_type', 'loan_purpose'], columns = ['which_bank'], values='loan_amount', aggfunc='sum')
print(pivot_sum_loan)

which_bank              All Other Banks  BMO Harris  Bank of West
loan_type loan_purpose
1         1                 693545000.0   3460000.0      955000.0
          2                  10125000.0         NaN           NaN
          4                  10455000.0         NaN           NaN
          5                   3755000.0         NaN           NaN
          31                941260000.0   2230000.0     1425000.0
          32                505245000.0         NaN      295000.0
2         1                 168560000.0         NaN           NaN
          2                    490000.0         NaN           NaN
          4                   1320000.0         NaN           NaN
          5                  13670000.0         NaN           NaN
          31                 63090000.0         NaN           NaN
          32                 27290000.0         NaN           NaN
3         1                  72895000.0         NaN           NaN
          4                   1395000.0         NaN           NaN
          5                   1575000.0         NaN           NaN
          31                 97965000.0         NaN      485000.0
          32                 46520000.0         NaN           NaN
4         1                   5245000.0         NaN           NaN
          5                     95000.0         NaN           NaN
          31                   440000.0         NaN           NaN

In [23]:
bank_tract = hmda.groupby(['which_bank','census_tract', 'loan_type', 'loan_purpose']).agg({'accept': 'sum', 'received': 'sum', 'loan_amount': 'sum'})
bank_tract.to_csv('../input_data/bank_tract.csv')